body.site-single-page.screen-desktop header .goldenchai-logo-manifestos
{
  -skrollr-animation-name: fade_out_manifestos_logo;
}

body.site-single-page.screen-desktop header .goldenchai-logo-alternative
{
  -skrollr-animation-name: fade_in_portfolio_logo;
}


@-skrollr-keyframes fade_out_manifestos_logo{
  {{ site.manifestos_end }} {
    opacity: 1;
    z-index: 999;
  }

  {{ site.portfolio_pre_start }} {
    opacity: 0;
    z-index: 0;
  }
}


@-skrollr-keyframes fade_in_portfolio_logo{
  {{ site.manifestos_end }} {
    opacity: 0;
    z-index: 0;
  }

  {{ site.portfolio_pre_start }} {
    opacity: 1;
    z-index: 999;
  }
}



body.site-single-page.screen-desktop #primary-nav .primary-nav-manifestos
{
  -skrollr-animation-name: transition_active_nav_bg_manifestos;
}

@-skrollr-keyframes transition_active_nav_bg_manifestos{
  {{ site.manifestos_pre_end }} {
    background-color: rgba(204,204,204,0.5);
  }

  {{ site.manifestos_end }} {
    background-color: rgba(204,204,204,0);
  }
}

body.site-single-page.screen-desktop #primary-nav .primary-nav-portfolio
{
  -skrollr-animation-name: transition_active_nav_bg_portfolio;
}

@-skrollr-keyframes transition_active_nav_bg_portfolio{
  {{ site.portfolio_pre_start }} {
    background-color: rgba(204,204,204,0);
  }

  {{ site.portfolio_start }} {
    background-color: rgba(204,204,204,0.5);
  }

  {{ site.portfolio_pre_end }} {
    background-color: rgba(204,204,204,0.5);
  }

  {{ site.portfolio_end }} {
    background-color: rgba(204,204,204,0);
  }
}


body.site-single-page.screen-desktop #primary-nav .primary-nav-features
{
  -skrollr-animation-name: transition_active_nav_bg_features;
}

@-skrollr-keyframes transition_active_nav_bg_features{
  {{ site.features_pre_start }} {
    background-color: rgba(204,204,204,0);
  }

  {{ site.features_start }} {
    background-color: rgba(204,204,204,0.5);
  }
}