body.site-single-page.screen-desktop #portfolio, body.site-single-page.screen-tablet #portfolio
{
  -skrollr-animation-name: portfolio_opacity;
}


@-skrollr-keyframes portfolio_opacity{
  {{ site.portfolio_pre_start }} {
    opacity: 0;
    z-index: 0;
  }

  {{ site.portfolio_start }} {
    opacity: 1;
    z-index: 999;
  }

  {{ site.portfolio_pre_end }} {
    opacity: 1;
    z-index: 999;
  }

  {{ site.portfolio_end }} {
    opacity: 0;
    z-index: 0;
  }

}