body.site-single-page.screen-desktop #services, body.site-single-page.screen-tablet #services
{
  -skrollr-animation-name: services_opacity;
}


@-skrollr-keyframes services_opacity{
  {{ site.services_pre_start }} {
    opacity: 0;
    z-index: 0;
  }

  {{ site.services_start }} {
    opacity: 1;
    z-index: 999;
  }

  {{ site.services_end }} {
    opacity: 1;
    z-index: 999;
  }
}


/* DESIGN CONCEPT */
/* =================  */

body.site-single-page.screen-desktop #services .design-concept .design-concept-group h3, body.site-single-page.screen-tablet #services .design-concept .design-concept-group h3
{
  -skrollr-animation-name: group-title-opacity;
}

@-skrollr-keyframes group-title-opacity{
  {{ site.services_pre_end }} {
    opacity: 0;
  }

  {{ site.services_end }} {
    opacity: 1;
  }
}

/* DESIGN CONCEPT GROUP 1 */
/* =================  */

body.site-single-page.screen-desktop #services .design-concept .design-concept-group-1, body.site-single-page.screen-tablet #services .design-concept .design-concept-group-1
{
  -skrollr-animation-name: group-one-expand;
}

@-skrollr-keyframes group-one-expand{
  {{ site.services_pre_start }} {
    left: 30px;
    top: 30px;
    opacity: 0;
    width: 0px;
    height: 0px;
  }

  {{ site.services_end }} {
    left: -130px;
    top: -60px;
    opacity: 0.8;
    width: 100px;
    height: 100px;
  }
}


body.site-single-page.screen-desktop #services .design-concept .design-concept-ball-1, body.site-single-page.screen-tablet #services .design-concept .design-concept-ball-1
{
  -skrollr-animation-name: expand-ball-1;
}

@-skrollr-keyframes expand-ball-1{
  {{ site.services_pre_end }} {
    right: 0px;
    opacity: 0;
  }

  {{ site.services_end }} {
    right: -45px;
    opacity: 0.8;
  }
}

body.site-single-page.screen-desktop #services .design-concept .design-concept-ball-2, body.site-single-page.screen-tablet #services .design-concept .design-concept-ball-2
{
  -skrollr-animation-name: expand-ball-2;
}

@-skrollr-keyframes expand-ball-2{
  {{ site.services_pre_end }} {
    bottom: 0px;
    opacity: 0;
  }

  {{ site.services_end }} {
    bottom: -45px;
    opacity: 0.8;
  }
}


/* DESIGN CONCEPT GROUP 2 */
/* =================  */

body.site-single-page.screen-desktop #services .design-concept .design-concept-group-2, body.site-single-page.screen-tablet #services .design-concept .design-concept-group-2
{
  -skrollr-animation-name: group-two-expand;
}

@-skrollr-keyframes group-two-expand{
  {{ site.services_pre_start }} {
    left: 0px;
    opacity: 0;
    width: 0px;
    height: 0px;
  }

  {{ site.services_pre_end }} {
    left: 130px;
    opacity: 0.8;
    width: 100px;
    height: 100px;
  }
}


body.site-single-page.screen-desktop #services .design-concept .design-concept-ball-3, body.site-single-page.screen-tablet #services .design-concept .design-concept-ball-3
{
  -skrollr-animation-name: expand-ball-3;
}

@-skrollr-keyframes expand-ball-3{
  {{ site.services_pre_end }} {
    top: 0px;
    opacity: 0;
  }

  {{ site.services_end }} {
    top: -45px;
    opacity: 0.8;
  }
}

body.site-single-page.screen-desktop #services .design-concept .design-concept-ball-4, body.site-single-page.screen-tablet #services .design-concept .design-concept-ball-4
{
  -skrollr-animation-name: expand-ball-4;
}

@-skrollr-keyframes expand-ball-4{
  {{ site.services_pre_end }} {
    left: 0px;
    opacity: 0;
  }

  {{ site.services_end }} {
    left: -45px;
    opacity: 0.8;
  }
}