/* TABLET SPECIFIC STYLES HERE */
/* ************************** */

body.site-multiple-pages.screen-tablet footer
{
  -skrollr-animation-name: tablet-footer-appear;
}

@-skrollr-keyframes tablet-footer-appear {
  0 {
    top: 650px;
  }

  200 {
    top: 110px;
  }
}