---
layout: layout
---

<!-- <video width="1920" height="500" autoplay="">
<source src="//d2vnshfcqeurbc.cloudfront.net/summit-2014-site-marquee-video-WebM-1920x500.webm" type="video/webm">
<source src="http://samuchai.com/summit2014.mp4" type="video/mp4">
</video>
 -->

<div class="tab-content">
  <div class="tab-pane" id="durability">
    <div class="content-front active">
      <div class="black-diamond content-cta"></div>
      {% include copy/durability.html side="front" %}
    </div>
    <div class="content-summary">
      {% include copy/durability.html side="back" %}
      <div class="content-cta close-summary"></div>
    </div>
    <div class="arrow-forward"></div>
  </div>

  <div class="tab-pane" id="usability">
    <div class="content-front active">
      <div class="zen-symbol content-cta"></div>
      {% include copy/usability.html side="front" %}
    </div>

    <div class="content-summary">
      {% include copy/usability.html side="back" %}
      <div class="content-cta close-summary"></div>
    </div>
    <div class="arrow-forward"></div>
  </div>

  <div class="tab-pane" id="art">
    <div class="content-front active">
      <div class="vitruvian content-cta"></div>
      {% include copy/art.html side="front" %}
    </div>
    <div class="content-summary">
      {% include copy/art.html side="back" %}
      <div class="content-cta close-summary"></div>
    </div>
    <div class="arrow-forward"></div>
  </div>
</div>