/* variables */
@import "constants";

/* mixins */
@import "mixins";

body
{
  .content-wrapper
  {
    .inner-wrapper
    {
      .fly-content
      {
        display: none;
      }
    }
  }
}

body.fly-state
{
  #primary-story
  {
    #marquee-wrapper
    {
      height: 6px;
      @include transition(height $defaultTransitionSpeed);

      #marquee
      {
        .marquee-bg
        {
          height: 6px;
          @include transition(height $defaultTransitionSpeed);
        }

        .marquee-shadow
        {
          opacity: 0;
          @include transition(opacity $defaultTransitionSpeed);
        }

        h1, .nav
        {
          position: absolute;
          left: -1000px;
          top: -1000px;
          opacity: 0;
          @include transition((top 1s, left 1s, opacity 0.3s));
        }
      }
    }

    .content-wrapper .main-content, footer, .tiny-nav-boxes
    {
      position: absolute;
      left: -1000px;
      top: -1000px;
      opacity: 0;
      @include transition((top 1s, left 1s, opacity 0.3s));
    }

    .content-wrapper
    {
      .fly-content
      {
        display: block;
      }
    }
  }

  #portfolio-wrapper, #services-wrapper, #window-divider-1, #window-divider-2
  {
    display: none !important;
  }
}