body.page-home
{
  #main
  {
    height: 700px;
  }

  .home-promo
  {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 350px;
    max-width: 100%;

    img
    {
      margin-bottom: 30px;
      max-width: 100%;
    }

    h2
    {
      margin-bottom: 35px;
    }

    .location-date
    {
      padding-left: 20px;
    }
  }

  section.summit2013
  {
    position: absolute;
    bottom: 40px;
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #666666;

    p
    {
      font-size: 1.8em;
      font-weight: 100;
    }
  }
}


@media screen and (max-width: 480px) {
  body.page-home
  {
    #main
    {
      height: 550px;
    }

    .home-promo
    {
      top: 60px;

      img
      {
        margin-bottom: 0;
      }

      .location-date
      {
        display: block;
        padding-left: 0;
        padding-top: 10px;
      }
    }
  }
}