@import "constants";
@import "mixins";
@import 'bootstrap-variables';
@import 'lib/bootstrap-3.0.3/_mixins';

body.site-multiple-pages.page-manifestos
{
  header
  {
    #primary-nav .primary-nav-active-bg
    {
      top: 0;
    }

    .goldenchai-logo-wrapper
    {
      .goldenchai-logo
      {
        &.goldenchai-logo-manifestos
        {
          opacity: 1;
        }
      }
    }
  }
}

body.page-manifestos
{
  .accordion
  {
    .accordion-item.active
    {
      background: rgba($gray20, 0.1);
    }
  }
}

// MANIFESTOS CONTENT STYLES
// *****************************
body
{
  #manifestos
  {
    .manifestos-video
    {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;

      video
      {
        height: 100%;
        opacity: 0.1;
      }

      &.visible-inverted-mode-1-durability
      {
        video
        {
          opacity: 0.05;
        }
      }

      &.visible-inverted-mode-1-usability
      {
        video
        {
          opacity: 0.15;          
        }
      }
    }
    
    .container
    {
      .inner-wrapper
      {
        .main-content
        {
          padding: 0;

          .tab-content
          {
            height: 250px;
            @include transition(opacity $defaultTransitionSpeed ease-out);

            .mobile-manifesto-ctas
            {
              display: none;
            }

            .tab-pane
            {
              .mobile-manifesto-cta-back
              {
                display: none;
              }

              &.summary-active
              {
                .mobile-manifesto-cta-summary
                {
                  display: none;
                }

                .mobile-manifesto-cta-back
                {
                  display: block;
                }
              }
            }

            .arrows
            {
              .arrow
              {
                position: absolute;
                top: 50%;
                margin-top: -18px;
                background: image-url("arrows.png");
                background-repeat: no-repeat;
                height: 36px;
                width: 24px;
                cursor: pointer;
                opacity: 0.5;
                overflow: hidden;

                span
                {
                  opacity: 0;
                  text-transform: uppercase;
                  line-height: 34px;
                  font-size: 1.1em;

                  &.durability
                  {
                    border-bottom: 1px solid $durability-color;
                  }

                  &.usability
                  {
                    border-bottom: 1px solid $usability-color;
                  }

                  &.art
                  {
                    border-bottom: 1px solid $art-color;
                  }
                }

                &:hover
                {
                  opacity: 1;

                  &.arrow-expand
                  {
                    width: 110px;
                    @include transition(width $defaultTransitionSpeed);

                    span
                    {
                      opacity: 1;
                      @include transition(opacity $defaultTransitionSpeed);
                    }

                    &.arrow-expand-short
                    {
                      width: 80px;
                    }
                  }
                }
              }

              .arrow-forward
              {
                text-align: right;
                background-position: right 0;
                left: ($container-lg + 50);
                padding-right: 30px;
              }

              .arrow-backward
              {
                text-align: left;
                background-position: left -36px;
                right: ($container-lg + 50);
                padding-left: 30px;
              }
            }

            .content-front
            {
              h1
              {
                margin: 0 0 10px;
                font-weight: 300;
                font-style: italic;
              }

              p
              {
                font-size: 1.1em;
              }

              .content-cta
              {
                cursor: pointer;
                text-align: right;

                &.content-cta-hover
                {
                  text-align: left;

                  img
                  {
                    position: absolute;
                  }

                  img.default
                  {
                    opacity: 1;
                  }

                  img.hover
                  {
                    opacity: 0;
                  }

                  &:hover
                  {
                    img.default
                    {
                      opacity: 0;
                    }

                    img.hover
                    {
                      opacity: 1;
                    }
                  }
                }
              }
            }

            .content-front, .content-summary
            {
              opacity: 0;
              position: absolute;
              top: 0;
              pointer-events: none;
              margin-left: -100px;
              @include transition((opacity $slowTransitionSpeed, margin-left $slowTransitionSpeed));

              &.active
              {
                margin-left: 0;
                position: static;
                opacity: 1;
                pointer-events: auto;
              }

              p
              {
                margin-top: 0;
              }
            }

            .content-summary
            {
              visibility: hidden;

              h2
              {
                font-size: 1.5em;
                margin: 0 0 10px;
                font-weight: 100;
              }

              ul
              {
                margin-bottom: 50px;

                li
                {
                  font-size: 1.3em;
                  margin-bottom: 10px;
                }
              }
            }
          }
        }          
      }
    }

    /* marquee */

    #marquee-wrapper
    {
      width: 100%;
      text-align: center;
      margin-top: 30px;
      padding: 0;
      height: 147px;
      @include disableHighlighting;

      #marquee
      {
        height: inherit;
        text-transform: uppercase;
        font-weight: 100;

        .marquee-headline h1, span, .nav
        {
          color: $white;
        }
        
        .marquee-headline
        {
          position: relative;

          h1
          {
            font-size: 1.8em;
            font-weight: 100;            
            margin: 14px 0 0 0;
          }

          .headline-durability, .headline-usability,  .headline-art
          {
            display: none;
          }
        }

        .marquee-bg
        {
          position: absolute;
          width: 100%;
          height: inherit;
          opacity: 0;
          @include gradientDiagonal(darken($durability-color, 18%), $durability-color);
          @include transition(opacity $defaultTransitionSpeed);
        }

        .marquee-shadow
        {
          width: 100%;
          background: image-url("marquee/shadow.png") 0 0 repeat-x;
          padding-bottom: 20px;
          position: relative;
          @include transition(opacity $defaultTransitionSpeed ease-in);
        }

        .nav
        {
          position: relative;
          font-size: 2.8em;
          border: 0;
          list-style: none;
          margin: 0;
          padding-left: 0;

          > li {
            display: inline-block;
            float: none;
            color: $white;

            a
            {
              display: inline-block;
              padding: 0;
              line-height: 100%;
              margin-bottom: 33px;
            }

            &.active
            {
              a
              {
                color: $white;
                border: none;
                padding-bottom: 35px;
                margin-bottom: 0;

                &:after
                {
                  position: absolute;
                  left: 50%;
                  bottom: 0;
                  margin-left: -20px;
                  @include triangle(20px, $white, bottom);
                }
              }
            }
          }

          .nav-durability
          {
            color: $durability-color;
            border-bottom: 2px solid $durability-color;
          }

          .nav-usability
          {
            color: $usability-color;
            border-bottom: 2px solid $usability-color;
          }

          .nav-art
          {
            color: $art-color;
            border-bottom: 2px solid $art-color;
          }
        }
      }
    }

    &.transitioning
    {
      #marquee-wrapper
      {
        #marquee
        {
          @include transition(height $defaultTransitionSpeed);

          .marquee-headline h1, .nav
          {
            @include transition(opacity $defaultTransitionSpeed ease-out ($defaultTransitionSpeed*0.8));
          }
        }
      }
    }

    &.collapsed
    {
      #marquee-wrapper
      {
        #marquee
        {
          height: 0;

          .marquee-headline h1, .nav
          {
            opacity: 0 !important;
            @include transition(opacity 0.01s ease-out 0s);
          }
        }
      }

      .container
      {
        .inner-wrapper
        {
          .main-content
          {
            .tab-content
            {
              opacity: 0 !important;
              @include transition(opacity 0);
            }
          }
        }
      }
    }
  }
}


// DURABILITY CONTENT STYLES
// *************************
body
{
  .container
  {
    .inner-wrapper
    {
      #durability.tab-pane
      {
        .content-front
        {
          .black-diamond
          {
            float: right;
            width: 219px;
            height: 203px;

            img
            {
              position: absolute;
            }

            img.default
            {
              opacity: 1;
            }

            img.hover
            {
              opacity: 0;
            }

            &:hover
            {
              img.default
              {
                opacity: 0;
              }

              img.hover
              {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

// USABILITY CONTENT STYLES
// *************************
body
{
  .container
  {
    .inner-wrapper
    {
      #usability.tab-pane
      {
        .content-front
        {
          .zen-symbol
          {
            float: right;
            width: 180px;
            height: 179px;
          }
        }
      }
    }
  }
}

// ART CONTENT STYLES
// *************************
body
{
  .container
  {
    .inner-wrapper
    {
      #art.tab-pane
      {
        .arrow-forward
        {
          display: none;
        }

        .content-front
        {
          .vitruvian
          {
            float: right;
            width: 178px;
            height: 178px;
          }
        }

        .content-summary
        {
          text-align: center;
          padding-top: 40px;

          quote
          {
            color: darken($art-color, 20);
            font-size: 3em;
            font-weight: 100;
          }

          .author
          {
            display: block;
            margin-top: 15px;
            font-size: 1.2em;
            font-weight: 100;
          }
        }
      }
    }
  }
}



@media (max-width: $screen-md-max)
{
  body
  {
    #manifestos
    {
      .container
      {
        .inner-wrapper
        {
          .main-content
          {
            .tab-content
            {
              .arrows
              {
                display: none;
              }

              .mobile-manifesto-ctas
              {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: $screen-tablet)
{
  body.page-manifestos
  {

    &.footer-active
    {
      header
      {
        background: $white;
      }

      footer .footer-nav
      {
        @include gradient-vertical(rgba($white, 1), rgba($white, 0), 40%);
      }
    }
  }
}


@media (max-width: $screen-xs-max)
{
  body
  {
    #manifestos
    {
      padding-top: 40px;

      #marquee-wrapper
      {
        height: 92px;

        #marquee
        {
          .marquee-headline
          {
            margin-top: -5px;

            h1
            {
              font-size: 1.2em;
              margin: 0;              
            }
          }

          .nav
          {
            font-size: 2em;

            li a
            {
              border-bottom-width: 1px;
            }

            li.active a
            {
              margin-bottom: 28px;
              padding-bottom: 28px;
            }
          }
        }
      }

      .container
      {
        .inner-wrapper
        {
          margin: 20px auto;

          .main-content
          {
            .tab-content
            {
              .tab-pane
              {
                .content-front
                {
                  h1
                  {
                    font-size: 1.1em;
                  }

                  .content-cta
                  {
                    width: auto;
                    height: auto;

                    img
                    {
                      position: static;
                      height: 120px;
                    }

                    &.content-cta-hover
                    {
                      &:hover
                      {
                        img.default
                        {
                          opacity: 1;
                        }
                      }

                      .hover
                      {
                        display: none;
                      }
                    }
                  }
                }

                .content-summary
                {
                  ul
                  {
                    margin-bottom: 0;

                    li
                    {
                      margin-bottom: 0;
                      font-size: $font-size-base;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



@media (max-width: $screen-xs)
{
  body
  {
    #manifestos
    {
      .container
      {
        .inner-wrapper
        {
          .main-content
          {
            .tab-content
            {
              .tab-pane
              {
                .content-front
                {
                  h3, p
                  {
                    font-size: 0.9em;
                  }

                  .content-cta
                  {
                    margin-right: -85px;
                  }
                }

                &#art
                {
                  .content-summary
                  {
                    quote
                    {
                      font-size: 1.8em;
                    }
                  }
                }
              }
            }
          }
        }
      }

      #marquee-wrapper
      {
        height: 78px;

        #marquee
        {
          .marquee-shadow
          {
            padding-bottom: 15px;
          }

          .marquee-headline h1
          {
            font-size: 1.2em;
            margin: 0;
          }

          .nav
          {
            font-size: 1.4em;

            li
            {
              a
              {
                border-bottom-width: 1px !important;
              }
            }
          }
        }
      }
    }
  }
}
