/* variables */
@import "constants";

/* mixins */
@import "mixins";


section#portfolio
{
  text-align: center;
  @include diagonalGradient($portfolio-color, $portfolio-color-dark, 70%);

  /* typography */
  h1, h2, h3, h4, h5, h6, p, ul, li, div, span, blockquote, nav, footer, header, button, a
  {
    color: $black;
  }

  #portfolio-thumbs-slider
  {
    margin-top: 40px;
    height: 500px !important;

    .rsThumb:nth-child(1)
    {
      display: none;
    }
  }

  .portfolio-content-slider
  {
    height: 400px !important;
    max-height: 400px;

    .rsSlide
    {
      .rsImg.rsMainSlideImage
      {
        width: 700px !important;
        margin: 0 !important;
        height: auto !important;
      }

      .slide-caption
      {
        opacity: 0;
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: rgba($white, 0.8);
        padding: 3px 6px;
        z-index: 999;
        @include transition(opacity 0.7s ease);
      }

      &:hover
      {
        .slide-caption
        {
          opacity: 1;
        }
      }

      .slide-from-right
      {
        position: absolute;        
        left: 700px;
        opacity: 0;
        top: 0;
        @include transition((left 0.7s ease-out, opacity 0.7s ease-out));

        &.active
        {
          opacity: 1;
          left: 0;

          &.offset-250
          {
            left: 450px;
          }
        }
      }

      .slide-fade-in
      {
        position: absolute;        
        left: 0;
        opacity: 0;
        top: 0;
        @include transition(opacity 0.7s ease-out);

        &.active
        {
          opacity: 1;
        }
      }
    }

    .intro-slide
    {
      height: 300px;
      padding-top: 100px;

      .adobe-logo
      {
        position: absolute;
        right: 30px;
        bottom: 0;
      }
      
      h3
      {
        width: 480px;
        margin: 0 auto 40px;
        font-weight: 100;
        color: $black;
        font-size: 4em;
      }
    }
  }
}

#portfolio-fader
{
  width: 100%;
  height: 20%;
  position: absolute;
  top: 200%;
  z-index: 999999999999;
}
