@import "constants";
@import "mixins";
@import 'bootstrap-variables';


body.site-multiple-pages.page-portfolio
{
  header
  {
    #primary-nav .primary-nav-active-bg
    {
      top: 30px;
    }

    .goldenchai-logo-wrapper
    {
      .goldenchai-logo
      {
        &.goldenchai-logo-portfolio
        {
          opacity: 1;
        }
      }
    }
  }

  section#portfolio
  {
    .container
    {
      margin-top: 10px;      

      .portfolio-content-slider 
      {
        width: 100%;
        height: 300px !important;

        .rsOverflow
        {
          width: 100% !important;
          height: 300px !important;
          margin-left: 0;
        }

        .rsArrow
        {
          display: none !important;
        }
      }
    }
  }
}

section#portfolio
{
  text-align: center;
  @include diagonalGradient($portfolio-color, $portfolio-color-dark, 70%);

  h1, h2, h3, h4, h5, h6, p, ul, li, div, span, blockquote, nav, footer, header, button, a
  {
    color: $black;
  }

  #portfolio-thumbs-slider
  {
    margin-top: 20px;
    height: 500px !important;

    .rsThumb:nth-child(1)
    {
      display: none;
    }
  }

  .portfolio-content-slider
  {
    height: 400px !important;
    max-height: 400px;

    .rsSlide
    {
      .rsImg.rsMainSlideImage
      {
        width: $container-lg !important;
        margin: 0 !important;
        height: auto !important;
      }

      .slide-caption
      {
        opacity: 0;
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: rgba($white, 0.8);
        padding: 3px 6px;
        z-index: 999;
        @include transition(opacity 0.7s ease);
      }

      &:hover
      {
        .slide-caption
        {
          opacity: 1;
        }
      }

      .slide-from-right
      {
        position: absolute;        
        left: $container-lg;
        opacity: 0;
        top: 0;
        @include transition((left 0.7s ease-out, opacity 0.7s ease-out));

        &.active
        {
          opacity: 1;
          left: 0;

          &.offset-250
          {
            left: 450px;
          }
        }
      }

      .slide-fade-in
      {
        position: absolute;        
        left: 0;
        opacity: 0;
        top: 0;
        @include transition(opacity 0.7s ease-out);

        &.active
        {
          opacity: 1;
        }
      }
    }

    .intro-slide
    {
      height: inherit;
      padding-top: 140px;
      background: rgba($white, 0.2);

      h3
      {
        background: -webkit-gradient(linear,left top,right top,color-stop(0, #8f804c),color-stop(0.4, #8f804c),color-stop(0.5, white),color-stop(0.6, #8f804c),color-stop(1, #8f804c)); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: slidetounlock 5s infinite;
        width: 100%;

        margin: 0 auto 30px;
        font-weight: 100;
        color: $black;
        font-size: 3em;
      }

      quote
      {
        font-weight: 100;

        strong
        {
          font-weight: 400;
        }
      }
    }
  }
}

@-webkit-keyframes slidetounlock {
  0% {
    background-position: 720px 0;
  }
  100% {
    background-position: -720px 0;
  }
}

#portfolio-fader
{
  width: 100%;
  height: 20%;
  position: absolute;
  top: 200%;
  z-index: 999999999999;
}


@media (max-width: $screen-md) {
  section#portfolio
  {
    #portfolio-thumbs-slider
    {
      width: 100%;
      padding: 0 15px;

      .rsThumbs
      {
        width: 100%;
      }
    }

    .portfolio-content-slider
    {
      width: 100%;
      max-width: $container-lg;
      margin: 0 auto;

      .rsOverflow
      {
        margin-left: 0;
      }

      .rsArrow
      {
        display: none !important;
      }
    }
  }
}

@media (max-width: $screen-xs) {
  section#portfolio
  {
    .portfolio-content-slider
    {
      .rsOverflow
      {
        .rsSlide
        {
          .intro-slide
          {
            h3
            {
              width: 100%; 
            }
          }

          img
          {
            width: 150%;
          }
        }
      }
    }
  }
}