@import "constants";
@import "mixins";
@import 'bootstrap-variables';


body.site-multiple-pages.page-services
{
  header
  {
    #primary-nav .primary-nav-active-bg
    {
      top: 60px;
    }

    .goldenchai-logo-wrapper
    {
      .goldenchai-logo
      {
        &.goldenchai-logo-portfolio
        {
          opacity: 1;
        }
      }
    }
  }
}

section#services
{
  text-align: center;
  background: $services-color;
  // @include diagonalGradient($services-color, darken($services-color, 10%), 30%);

  #services-video
  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    overflow: hidden;

    video
    {
      width: 100% !important;
      opacity: 0.1;
    }

    .video-fader
    {
      position: absolute;
      bottom: 0;
      height: 200px;
      width: 100%;
      @include transparentGradientTop($services-color);
    }
  }

  .info-box
  {
    float: right;
    width: 300px;
  }

  .inner-wrapper
  {
    z-index: 9;
  }

  .nav-tabs
  {
    margin-top: 100px;
    border-bottom: 2px solid $gray6;
    padding-bottom: 22px;
    margin-bottom: 50px;

    li
    {
      position: relative;
      font-size: 1.4em;
      font-weight: 100;
      display: inline-block;
      margin: 0 20px;
      text-transform: uppercase;
      
      &.active
      {
        /* shared with before and after */
        &:before, &:after {
          content: ' ';
          height: 0;
          position: absolute;
          width: 0;
          left: 50%;
          margin-left: -13px;
          border: 15px solid transparent; /* arrow size */
        }

        /* these arrows will point up */

        /* top-stacked, smaller arrow */
        &:before {
          border-bottom-color: $services-color;  /* arrow color */

          /* positioning */
          top: 25px;
          z-index: 2;
        }

        /* arrow which acts as a background shadow */
        &:after {
          border-bottom-color: $gray6;  /* arrow color */

          /* positioning */
          top: 22px;
          z-index: 1;
        }
      }
    }
  }

  .tab-content
  {
    margin-bottom: 60px;

    .tab-pane
    {

      ul
      {
        width: 200px;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  body.page-services
  {
    section#services
    {
      .nav-tabs
      {
        margin-top: 50px;
        padding-bottom: 20px;
        margin-bottom: 50px;

        li
        {
          font-size: 1em;
          margin: 0 10px;
        }
      }
    } 
    
    footer
    {
      top: 500px;
    }   
  }
}