/* variables */
@import "constants";

/* mixins */
@import "mixins";

section#services
{
  text-align: center;
  background: $services-color;
  // @include diagonalGradient($services-color, darken($services-color, 10%), 30%);

  .info-box
  {
    float: right;
    width: 300px;
  }

  .nav-tabs
  {
    margin-top: 100px;
    border-bottom: 2px solid $gray70;
    padding-bottom: 20px;
    margin-bottom: 50px;

    li
    {
      position: relative;
      font-size: 2em;
      font-weight: 100;
      display: inline-block;
      margin: 0 20px;
      text-transform: uppercase;
      
      &.active
      {

        /* shared with before and after */
        &:before, &:after {
          content: ' ';
          height: 0;
          position: absolute;
          width: 0;
          left: 50%;
          margin-left: -13px;
          border: 15px solid transparent; /* arrow size */
        }

        /* these arrows will point up */

        /* top-stacked, smaller arrow */
        &:before {
          border-bottom-color: $services-color;  /* arrow color */

          /* positioning */
          top: 25px;
          z-index: 2;
        }

        /* arrow which acts as a background shadow */
        &:after {
          border-bottom-color: $gray70;  /* arrow color */

          /* positioning */
          top: 22px;
          z-index: 1;
        }
      }
    }
  }

  .tab-content
  {
    margin-bottom: 60px;

    .tab-pane
    {

      ul
      {
        width: 200px;
      }
    }
  }
}