@import "constants";
@import "mixins";
@import 'bootstrap-variables';
@import 'lib/bootstrap-3.0.3/_mixins';


body.page-workflow
{
  header
  {
    #primary-nav .primary-nav-active-bg
    {
      top: 30px;
    }

    .goldenchai-logo-wrapper
    {
      .goldenchai-logo
      {
        background-color: $gray6;

        .logo-copy
        {
          .logo-golden
          {
            color: $goldenbrown;
          }

          .logo-chai
          {
            color: $gray70;
          }
        }
      }
    }
  }
}

section#workflow
{
  text-align: center;
  @include diagonalGradient($workflow-color, $workflow-color-dark, 70%);

  h1, h2, h3, h4, h5, h6, p, ul, li, div, span, blockquote, nav, footer, header, button, a
  {
    color: $black;
  }

  .arrow-down
  {
    @include arrow(14px, 1px, $black, $workflow-color, top);
  }

  #workflow-slider
  {
    margin-top: 20px;

    .rsContent
    {
      padding-top: 20px;
      background: $gray6;

      h2
      {
        font-size: 3em;
        margin-bottom: 0;
      }

      h3
      {
        font-size: 1.6em;
        color: $gray60;
        margin-top: 0;
        margin-bottom: 20px;
      }

      p, li
      {
        font-size: 1.3em;
      }

      a
      {
        color: $goldenbrown;

        &.slide-animation
        {
          background: -webkit-gradient(linear,left top,right top,color-stop(0, $goldenbrown),color-stop(0.4, $goldenbrown),color-stop(0.5, lighten($goldenbrown, 40%)),color-stop(0.6, $goldenbrown),color-stop(1, $goldenbrown)); 
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-animation: slidetounlock 5s infinite;
          padding: 0 60px;
        }
      }

      .slide-content
      {
        padding: 0 50px;
        text-align: left;

        ul
        {
          list-style-type: square;
          list-style-position: inside;
          padding-left: 0;

          li
          {
            color: $goldenbrown;
          }
        }

        &.slide-center-vertical
        {
          position: absolute;
          text-align: center;
          top: 30%;
          width: 100%;
        }

        &.slide-agile
        {
          h3
          {
            margin-top: 12%;
            margin-left: 18%;
          }
          p
          {
            margin-left: 23%;
          }
        }

        &.slide-qa
        {
          h3
          {
            margin-left: 80px;
          }
        }

        &.slide-deploy
        {
          display: none;
          top: 10%;

          &.deployed
          {
            display: block;
          }
        }
      }

      // SLIDE POPUPS
      // ==========
      .slide-popup
      {
        position: absolute;
        top: 100%;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 30px;
        background: rgba($goldendark, 0.9);
        @include transition(top $defaultTransitionSpeed);

        h3
        {
          color: $goldenbrown;
        }

        ul
        {
          li, a
          {
            color: $white;
          }
        }

        .slide-popup-close
        {
          background-color: rgba($goldenbrown, 0.6);
          position: absolute;
          top: 10px;
          right: 10px;
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 26px;
          color: $white;

          &:hover
          {
            background-color: rgba($goldenbrown, 1);
          }
        }

        &.active
        {
          top: 0;
        }

        img
        {
          margin-top: 30px;
        }
      }


      // SLIDE GRAPHICS
      // ==========
      .slide-graphic
      {
        &.slide-graphic-tiger
        {
          position: absolute;
          right: -80px;
          top: 30%;
          width: 45%;
          opacity: 0.8;
        }

        &.slide-graphic-bottom-right
        {
          position: relative;
          float: right;
          bottom: 0;
          right: 0;
          opacity: 0.8;
          width: 40%;

          &.slide-graphic-imac
          {
            right: -70px;
            bottom: 70px;
          }
        }

        &.slide-graphic-agile
        {
          position: relative;
          width: 50%;
          left: -20%;
        }

        &.slide-graphic-devices
        {
          float: left;
          margin-top: -30px;

          .device
          {
            position: relative;
            display: inline-block;
            margin-right: 35px;
            height: 240px;

            &.device-desktop
            {
              width: 115px;
            }

            &.device-laptop
            {
              width: 313px;
              text-align: center;

              .browsers
              {
                margin-left: 60px;
                top: 50px;
                width: 40%;
              }
            }

            &.device-tablet-lg
            {
              width: 137px;
            }

            &.device-tablet-sm
            {
              width: 99px;
            }

            &.device-cell
            {
              width: 47px;
            }

            img
            {
              top: auto;
              bottom: 0;
            }
          }
        }

        &.slide-graphic-socialmedia, &.slide-graphic-optimized
        {
          position: relative;
          clear: both;
          float: right;
          margin-right: 12%;
          margin-top: 30px;
        }

        &.slide-graphic-socialmedia
        {
          img
          {
            display: inline-block;
            margin-right: 3px;
          }
        }

        &.slide-graphic-deploy
        {
          position: absolute;
          text-align: center;
          width: 15%;
          top: 40%;
          left: 45%;
          cursor: pointer;
        }
      }

      // TWENTY TWENTY
      // ==========
      .twentytwenty-container
      {
        img
        {
          -webkit-backface-visibility:visible;
        }
      }


      // preview and support slide
      p[contenteditable]
      {
        cursor: text;
        max-height: 250px;
        overflow: auto;
      }
    }
  }
}

@-webkit-keyframes slidetounlock {
  0% {
    background-position: 230px 0;
  }
  100% {
    background-position: -230px 0;
  }
}



@media (max-width: $screen-lg) {
  body.page-workflow
  {
    #workflow-slider
    {
      margin-top: 20px;

      .rsContent
      {
        .slide-content
        {
          &.slide-qa
          {
            h3
            {
              margin-left: 54px;
            }
          }
        }

        // SLIDE GRAPHICS
        // ==========
        .slide-graphic
        {
          &.slide-graphic-devices
          {
            .device
            {
              margin-right: 35px;
              height: 140px;

              &.device-desktop
              {
                width: 69px;
              }

              &.device-laptop
              {
                width: 188px;
              }

              &.device-tablet-lg
              {
                width: 82px;
              }

              &.device-tablet-sm
              {
                width: 59px;
              }

              &.device-cell
              {
                width: 28px;
              }
            }
          }

          &.slide-graphic-optimized, &.slide-graphic-socialmedia
          {
            margin-top: 20px;
            margin-right: 16%;
          }

          &.slide-graphic-socialmedia
          {
            img
            {
              height: 22px;
            }
          }

          &.slide-graphic-optimized
          {
            width: 210px;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-tablet) {
  body.page-workflow
  {
    @include gradient-vertical($workflow-color, $workflow-color-dark);

    &.footer-active
    {
      header
      {
        background: $workflow-color;
      }

      footer .footer-nav
      {
        @include gradient-vertical(rgba($workflow-color, 1), rgba($workflow-color, 0), 40%);
      }
    }

    section#workflow
    {
      background: none;
    }
  }
}

@media (max-width: $screen-xs) {
  body.page-workflow
  {
    #workflow
    {
      .workflow-content-slider
      {
        .rsSlide
        {
          max-height: 320px;

          img
          {
            max-width: 550px;
          }

          .intro-slide
          {
            padding-top: 100px;

            h3
            {
              font-size: 2em;
            }
          }
        }
      }
    }
  }
}