{% if include.slides == "intro" %}

  <!-- INTRO SLIDES -->
  <div class="rsContent intro-slide">
    <h3>They've kept coming back for over 5 years!</h3>
  </div>
  <div class="rsContent intro-slide">
    <h3>They've kept coming back for over 5 years!</h3>
  </div>

{% else if include.slides == "ayv" %}

  <!-- AYV SLIDES -->
  <div>
    <img src="images/portfolio/new/screenshots/youthvoices.adobe.com/homepage.png">
    <img src="images/portfolio/new/screenshots/youthvoices.adobe.com/test.png" class="from-right">
  </div>
  <div>
    <img src="images/portfolio/new/screenshots/youthvoices.adobe.com/homepage.png">
    <img src="images/portfolio/new/screenshots/youthvoices.adobe.com/test.png" class="from-right">
  </div>

{% else if include.slides == "max" %}

  <!-- MAX SLIDES -->
  <div>
    <img src="images/portfolio/new/screenshots/youthvoices.adobe.com/homepage.png">
    <img src="images/portfolio/new/screenshots/youthvoices.adobe.com/test.png" class="from-right">
  </div>
  <div>
    <img src="images/portfolio/new/screenshots/youthvoices.adobe.com/homepage.png">
    <img src="images/portfolio/new/screenshots/youthvoices.adobe.com/test.png" class="from-right">
  </div>


{% endif %}
