<footer>
  <div class="content-wrapper">
    <nav class="row">
      <div class="col-sm-7 hidden-xs">
        <p class="copyright">© 2013 GoldenChai</p>
      </div>
      <div class="col-xs-7 visible-xs">
        <ul>
          <li class="footer-nav-manifestos"><a href="#">Manifestos</a></li>
          <li class="footer-nav-portfolio"><a href="#">Portfolio</a></li>
          <li class="footer-nav-services"><a href="#">Services</a></li>
        </ul>
      </div>
      <div class="col-xs-5 align-right">
        <ul class="footer-nav-ctas">
          <li class="footer-nav-info"><a href="#">Info</a></li>
          <li class="footer-nav-contact"><a href="#">Contact</a></li>
          <li class="footer-nav-getquote"><a href="#"><img src="/images/nav/quotes.png" /></a></li>
        </ul>
      </div>
    </nav>
    <section id="footer-content">

     <div id="footer-content-slider" class="royalSlider rsDefault">

        <div class="text-center">
          <h2>Info</h2>
          <p>Lorem ipsum</p>
        </div>

        <div>
          <h2>Contact</h2>
          <p>Lorem ipsum</p>
        </div>

        <div>
          <h2>Get a quote</h2>
          <p>Lorem ipsum</p>
        </div>

      </div>

    </section>
  </div>
</footer>

<script>
  $(document).ready(function() {
    // FOOTER CONTENT SLIDER: INFO, CONTACT, AND GET A QUOTE
    $('#footer-content-slider').royalSlider({
      controlNavigation: 'none',
      autoScaleSlider: true,
      controlsInside: false,
      navigateByClick: false,
      arrowsNavAutoHide: false,
      autoHeight: true,
      numImagesToPreload: 10
    });

    var footerContentSlider = $("#footer-content-slider").data('royalSlider');


    // FOOTER NAV LINKS
    // *****************
    $(".footer-nav-ctas li a").click(function(){
      $(this).parent().siblings("li").removeClass("active");
      $(this).parent().addClass("active");

      if ($("footer").hasClass("active"))
      {
        footerContentSlider.goTo($(this).parent().index());
      }else{
        $("footer").addClass("active");
      }
    });


  });
</script>