<footer>
  <div class="row">
    <div class="col-sm-6 align-left">
      <div class="copyright center-on-mobiles">
        <p>Copyright © 2013 Samuchai</p>
      </div>
    </div>
    <div class="col-sm-6 align-right">
      <p>
        <a href="#" class="back-to-top">Home</a> |
        <a href="#portfolio" class="smooth">Portfolio</a> |
        <a href="#services" class="smooth">Services</a> |
        <a href="mailto:contact@samuchai.com">Contact@samuchai.com</a>
      </p>
    </div>
  </div>
</footer>