<header>
  <div class="row">
    <div class="col-sm-6">
      <div class="samuchai-logo"><span class="logo-samu">Samu</span><span class="logo-chai">chai</span></div>
    </div>
    <div class="col-sm-6">
      <div class="tiny-nav-boxes">
        <div class="tiny-nav tiny-art"><div class="tiny-active-arrow"></div></div>
        <div class="tiny-nav tiny-usability"><div class="tiny-active-arrow"></div></div>
        <div class="tiny-nav tiny-durability"><div class="tiny-active-arrow"></div></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</header>