<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <title>Minimalist web development. GoldenChai.</title>

  <link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico">

  <script type="text/javascript" src="//use.typekit.net/qxk0qin.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <style>
    body{opacity: 0;}
    {% asset gc-slider-init.scss %}
  </style>
</head>
