<header>

  <!-- SAMUCHAI LOGO (ONE FOR EACH SECTION) -->
  <div class="samuchai-logo-wrapper">
    <div class="samuchai-logo samuchai-logo-manifestos" data-_manifestos_pre_end="opacity:1;" data-_manifestos_end="opacity:0;">
      <div class="logo-copy"><span class="logo-samu">Samu</span><span class="logo-chai">chai</span></div>
    </div>

    <div class="samuchai-logo samuchai-logo-portfolio" data-_manifestos_pre_end="opacity:0;" data-_manifestos_end="opacity:1;">
      <div class="logo-copy"><span class="logo-samu">Samu</span><span class="logo-chai">chai</span></div>
    </div>
  </div>
  <!-- END OF SAMUCHAI LOGO -->


  <!-- PRIMARY NAV START -->
  <nav id="primary-nav">
    <div class="primary-nav-item primary-nav-manifestos">
      <div class="nav-title">Manifestos</div>
      <div class="nav-icon"></div>
    </div>
    <div class="primary-nav-item primary-nav-portfolio">
      <div class="nav-title">Portfolio</div>
      <div class="nav-icon"></div>
    </div>
    <div class="primary-nav-item primary-nav-services">
      <div class="nav-title">Services</div>
      <div class="nav-icon"></div>
    </div>
    <div class="primary-nav-active-bg" data-_manifestos_pre_end="opacity:1;top:0px;" data-_manifestos_end="opacity:0;top:0px;" data-_portfolio_pre_start="opacity:0;top:29px;" data-_portfolio_start="opacity:1;"></div>
  </nav>
  <!-- PRIMARY NAV END -->
  <div class="clear"></div>
</header>