<header>
  <div class="container">

    <!-- goldenCHAI LOGO (ONE FOR EACH SECTION) -->
    <div class="goldenchai-logo-wrapper">
      <div class="goldenchai-logo goldenchai-logo-manifestos">
        <div class="logo-copy"><span class="logo-golden">Golden</span><span class="logo-chai">Chai</span></div>
      </div>

      <div class="goldenchai-logo goldenchai-logo-portfolio">
        <div class="logo-copy"><span class="logo-golden">Golden</span><span class="logo-chai">Chai</span></div>
      </div>
    </div>
    <!-- END OF GoldenChai logo -->


    <!-- PRIMARY NAV START -->
    <nav id="primary-nav">
      <div class="primary-nav-item primary-nav-manifestos">
        <div class="nav-title"><a href="/#/manifestos">Manifestos</a></div>
        <div class="nav-icon"></div>
      </div>
      <div class="primary-nav-item primary-nav-portfolio">
        <div class="nav-title"><a href="/#/portfolio">Portfolio</a></div>
        <div class="nav-icon"></div>
      </div>
      <div class="primary-nav-item primary-nav-services">
        <div class="nav-title"><a href="/#/services">Services</a></div>
        <div class="nav-icon"></div>
      </div>
      <div class="primary-nav-active-bg"></div>
    </nav>

    <nav id="mobile-nav-icon">
      <img src="/images/nav/mobile-nav-icon.png" />
    </nav>
    <!-- PRIMARY NAV END -->
    <div class="clear"></div>
  </div>
</header>