<section id="primary-story" class="window loaded">

  {% include header.html %}

  <section id="main">
    <div id="content-wrapper" class="row-fluid">
      <div class="span12">
        {{ content }}
      </div>
      <div class="clear"></div>
    </div>
  </section>


  <footer>
    <div class="row-fluid">
      <div class="span6">
        <div class="copyright center-on-mobiles">
          <p>Copyright © 2013 Samuchai</p>
        </div>
      </div>
      <div class="span6">
      </div>
    </div>
  </footer>
</section>