---
---

body.site-single-page.screen-desktop #services, body.site-single-page.screen-tablet #services
{
  -skrollr-animation-name: services_opacity;
}


@-skrollr-keyframes services_opacity{
  {{ site.services_pre_start }} {
    opacity: 0;
    z-index: 0;
  }

  {{ site.services_start }} {
    opacity: 1;
    z-index: 999;
  }

  {{ site.services_end }} {
    opacity: 1;
    z-index: 999;
  }
}