/* variables */
@import "variables";

body.desktop
{
  header .samuchai-logo-manifestos
  {
    -skrollr-animation-name: fade_out_manifestos_logo;
  }

  header .samuchai-logo-portfolio
  {
    -skrollr-animation-name: fade_in_portfolio_logo;
  }

  #primary-nav .primary-nav-active-bg
  {
    -skrollr-animation-name: transition_active_nav_bg;
  }
}

// KEYFRAMES START
// ****************

@-skrollr-keyframes fade_out_manifestos_logo{
  #{$manifestos_pre_end} {
    opacity: 1;
  }

  #{$manifestos_end} {
    opacity: 0;
  }
}


@-skrollr-keyframes fade_in_portfolio_logo{
  #{$manifestos_pre_end} {
    opacity: 0;
  }

  #{$manifestos_end} {
    opacity: 1;
  }
}


@-skrollr-keyframes transition_active_nav_bg{
  #{$manifestos_pre_end} {
    opacity: 1;
    top: 0px;
  }

  #{$manifestos_end} {
    opacity: 0;
    top: 0px;
  }

  #{$portfolio_pre_start} {
    opacity: 0;
    top: 29px;
  }

  #{$portfolio_start} {
    opacity: 1;
  }
}