/* variables */
@import "variables";


body.desktop #portfolio
{
  -skrollr-animation-name: portfolio_opacity;
}


// KEYFRAMES START
// ****************

@-skrollr-keyframes portfolio_opacity{
  #{$portfolio_pre_start} {
    opacity: 0;
    z-index: 0;
  }

  #{$portfolio_start} {
    opacity: 1;
    z-index: 999;
  }
}