/* variables */
@import "variables";

body.site-multiple-pages
{
  #manifestos
  {
    -skrollr-animation-name:disappear;
  }

  footer
  {
    -skrollr-animation-name:appear;
  }
}


@-skrollr-keyframes disappear {
  #{$manifestos_start} {
    top: 0%;
    opacity: 1;
  }

  #{$manifestos_content_pre_end} {
    top: -10%;
    opacity: 0;
  }
}

@-skrollr-keyframes appear {
  #{$manifestos_start} {
    margin-top: 0%;
  }

  #{$manifestos_content_pre_end} {
    margin-top: -50%;
  }
}