// LAYOUT KEYFRAME VARIABLES
// ******************************


// MANIFESTOS KEYFRAME VARIABLES
// ******************************
$manifestos_start: 0;
$manifestos_content_pre_end: 200;
$manifestos_content_end: 500;
$manifestos_pre_end: 500;
$manifestos_end: 1000;



// PORTFOLIO KEYFRAME VARIABLES
// ******************************
$portfolio_pre_start: 1200;
$portfolio_start: 1800;