<section id="manifestos" class="window">
  <section id="marquee-wrapper">
    <div id="marquee">
      <div class="marquee-bg marquee-bg-durability"></div>
      <div class="marquee-bg marquee-bg-usability"></div>
      <div class="marquee-bg marquee-bg-art"></div>
      <div class="marquee-shadow"></div>
      <div class="marquee-headline">
        <h1 class="headline-default">Great websites merge</h1>
        <h1 class="headline-durability">Flawless websites merge</h1>
        <h1 class="headline-usability">Brilliant websites merge</h1>
        <h1 class="headline-art">GoldenChai merge</h1>
      </div>

      <ul class="nav">
        <li class="active"><a href="#durability" class="nav-durability">Durability</a>, </li>
        <li><a href="#usability" class="nav-usability">Usability</a></li>
        <li>and <a href="#art" class="nav-art">Art</a></li>
      </ul>
    </div>
  </section>

  <section class="container">
    <div class="inner-wrapper">
      <div class="main-content">

        <!-- TAB CONTENT: DURABILITY, USABILITY, ART -->
        <div class="tab-content">
          <div class="tab-pane" id="durability">
            <div class="content-front active">
              <div class="black-diamond content-cta content-cta-hover">
                <img src="{% asset_path cta/black-diamond.png %}" class="default">
                <img src="{% asset_path cta/black-diamond-hover.png %}" class="hover">
              </div>
              {% include copy/durability.html side="front" %}
            </div>
            <div class="content-summary">
              {% include copy/durability.html side="back" %}
              {% include close-summary.html %}
            </div>
            <div class="arrow-forward"></div>
          </div>

          <div class="tab-pane" id="usability">
            <div class="content-front active">
              <div class="zen-symbol content-cta">
                <img src="{% asset_path cta/zen-symbol.png %}">
              </div>
              {% include copy/usability.html side="front" %}
            </div>

            <div class="content-summary">
              {% include copy/usability.html side="back" %}
              {% include close-summary.html %}
            </div>
            <div class="arrow-forward"></div>
          </div>

          <div class="tab-pane" id="art">
            <div class="content-front active">
              <div class="vitruvian content-cta">
                <img src="{% asset_path cta/vitruvianman.png %}">
              </div>
              {% include copy/art.html side="front" %}
            </div>
            <div class="content-summary">
              {% include copy/art.html side="back" %}
              {% include close-summary.html %}
            </div>
            <div class="arrow-forward"></div>
          </div>
        </div>
        <!-- END OF TAB CONTENT -->

      </div>
      <div class="clear"></div>
    </div>
  </section>

</section>