<section id="portfolio" class="window subpage">

  <div id="portfolio-thumbs-slider" class="royalSlider rsDefault">

    <!-- INTRO SLIDER -->
    <div>
      <div class="royalSlider rsDefault portfolio-content-slider">
        {% include portfolio/slides.html slides="intro" %}
      </div>
      <img class="rsTmb" src="/images/portfolio/new/ayv.png" />
    </div>

    <!-- ADOBE YOUTH VOICES SLIDER -->
    <div>
      <div class="royalSlider rsDefault portfolio-content-slider">
        {% include portfolio/slides.html slides="ayv" %}
      </div>
      <img class="rsTmb" src="/images/portfolio/new/max.png" />
    </div>

    <!-- MAX SLIDER -->
    <div>
      <div class="royalSlider rsDefault portfolio-content-slider">
        {% include portfolio/slides.html slides="max" %}
      </div>
      <img class="rsTmb" src="/images/portfolio/new/max.png" />
    </div>

  </div>
</section>

<script>
  $(document).ready(function() {
    {% include portfolio/single-sliders.js %}
    {% include portfolio/multi-sliders.js %}
    {% include portfolio/functions.js %}
  });
</script>