<div class="container">
  <div id="workflow-slider" class="royalSlider rsDefault">
    <div class="rsContent">
      <div class="slide-content slide-center-vertical">
        <h2>The focus is on you</h2>
        <h3>We want to hear about your vision, goals<br>and audience; their needs and personas.</h3>
        <p><a href="/" class="slide-animation">Slide to see phase 2: inspiration</a></p>
      </div>
      <div class="slide-graphic slide-graphic-tiger">
        <img src="{% asset_path workflow/tiger.png %}" class="img-responsive" />
      </div>
    </div>
    <div class="rsContent">
      <div class="slide-content">
        <h2>2. Inspiration</h2>
        <h3>After fully understanding your goals, we'll present<br>a variety of design directions to you.</h3>
        <p>This will often take form of a potent<br>collection of websites, and style guides.</p>
        <ul>
          <li><a href="#" data-activate-slide-popup="slide-popup-style-guide">See an example of a style guide</a></li>
          <li><a href="#" data-activate-slide-popup="slide-popup-favourite-sites">See our top 10 favourite sites</a></li>
        </ul>
      </div>
      <div class="slide-graphic slide-graphic-bottom-right slide-graphic-imac">
        <img src="{% asset_path workflow/imac.png %}" class="rsABlock img-responsive" data-move-effect="right" data-move-offset="20" />
      </div>
      <div class="slide-popup text-center" id="slide-popup-style-guide">
        <div class="slide-popup-close" data-close-popup>x</div>
        <img src="{% asset_path workflow/style-tile.jpg %}" />
      </div>
      <div class="slide-popup" id="slide-popup-favourite-sites">
        <div class="slide-popup-close" data-close-popup>x</div>

        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h3>Our top 10 favourite sites</h3>
            <div class="row">
              <div class="col-sm-6">
                <ul>
                  <li><a href="" target="_blank">apple.com</a></li>
                  <li><a href="" target="_blank">apple.com</a></li>
                  <li><a href="" target="_blank">apple.com</a></li>
                  <li><a href="" target="_blank">apple.com</a></li>
                  <li><a href="" target="_blank">apple.com</a></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li><a href="" target="_blank">apple.com</a></li>
                  <li><a href="" target="_blank">apple.com</a></li>
                  <li><a href="" target="_blank">apple.com</a></li>
                  <li><a href="" target="_blank">apple.com</a></li>
                  <li><a href="" target="_blank">apple.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rsContent">
      <div class="slide-content">
        <h2>3. Solidify</h2>
        <h3>The blueprint involves: functionality, behaviour and content, whereas the mockup is more involved with layouts and aesthetics.</h3>
        <p>This will often take form of a potent<br>collection of websites, and style guides.</p>
        <ul>
          <li><a href="#" data-activate-slide-popup="slide-popup-blueprint">See an example of a blueprint</a></li>
          <li><a href="#" data-activate-slide-popup="slide-popup-mockup">See an example of a mockup</a></li>
        </ul>
      </div>
      <div class="slide-graphic slide-graphic-bottom-right">
        <img src="{% asset_path workflow/blueprint.png %}" class="rsABlock img-responsive" data-move-effect="right" data-move-offset="20" />
      </div>
      <div class="slide-popup text-center" id="slide-popup-blueprint">
        <div class="slide-popup-close" data-close-popup>x</div>
        <img src="{% asset_path workflow/style-tile.jpg %}" />
      </div>
      <div class="slide-popup" id="slide-popup-mockup">
        <div class="slide-popup-close" data-close-popup>x</div>
        <h3>Mockup</h3>
      </div>
    </div>
    <div class="rsContent">
      <div class="slide-content">
        <h2>4. Development</h2>
        <h3>Time to begin manifesting.<br>Drag the slider below to see it in action.</h3>
        <div class="twentytwenty-container rsNoDrag">
          <img src="{% asset_path workflow/1_1.jpg %}" class="img-responsive" />
          <img src="{% asset_path workflow/1_2.jpg %}" class="img-responsive" />
        </div>
      </div>
    </div>
    <div class="rsContent">
      <div class="slide-graphic slide-graphic-agile">
        <img src="{% asset_path workflow/agile-lady.png %}" class="rsABlock img-responsive" data-move-effect="left" data-move-offset="20" />
      </div>
      <div class="slide-content slide-agile">
        <h3>... using agile development, we'll show you<br>parts of the site as they finish.</h3>
        <p>&nbsp;This gives you more flexibility,<br>&nbsp;&nbsp;&nbsp;and eliminates damage impact<br>&nbsp;should there have been<br>miscommunications.</p>
      </div>
    </div>
    <div class="rsContent">
      <div class="slide-content slide-qa">
        <h2>5. Quality Assurance</h2>
        <h3>The entire site will be tested in every way on every platform by external QA experts.</h3>
      </div>
      <div class="slide-graphic slide-graphic-devices">
        <div class="device device-desktop">
          <img src="{% asset_path workflow/qa/devices/desktop.png %}" class="rsABlock img-responsive" data-move-effect="left" data-move-offset="20" />
        </div>
        <div class="device device-laptop">
          <img src="{% asset_path workflow/qa/devices/laptop.png %}" class="rsABlock img-responsive" data-move-effect="left" data-move-offset="20" />

          <img src="{% asset_path workflow/qa/browsers.png %}" class="rsABlock img-responsive browsers" data-move-effect="none" data-fade-effect="true" />
        </div>
        <div class="device device-tablet-lg">
          <img src="{% asset_path workflow/qa/devices/tablet-lg.png %}" class="rsABlock img-responsive" data-move-effect="left" data-move-offset="20" />
        </div>
        <div class="device device-tablet-sm">
          <img src="{% asset_path workflow/qa/devices/tablet-sm.png %}" class="rsABlock img-responsive" data-move-effect="left" data-move-offset="20" />
        </div>
        <div class="device device-cell">
          <img src="{% asset_path workflow/qa/devices/cell.png %}" class="rsABlock img-responsive" data-move-effect="left" data-move-offset="20" />
        </div>
      </div>
      <div class="slide-graphic slide-graphic-socialmedia rsABlock" data-move-effect="top" data-move-offset="20">
        <img src="{% asset_path workflow/qa/socialmedia/rss.jpg %}" />
        <img src="{% asset_path workflow/qa/socialmedia/linkedin.jpg %}" />
        <img src="{% asset_path workflow/qa/socialmedia/be.jpg %}" />
        <img src="{% asset_path workflow/qa/socialmedia/pinterest.jpg %}" />
        <img src="{% asset_path workflow/qa/socialmedia/youtube.jpg %}" />
        <img src="{% asset_path workflow/qa/socialmedia/gplus.jpg %}" />
        <img src="{% asset_path workflow/qa/socialmedia/twitter.jpg %}" />
        <img src="{% asset_path workflow/qa/socialmedia/fb.jpg %}" />
      </div>
      <div class="slide-graphic slide-graphic-optimized rsABlock" data-move-effect="top" data-move-offset="20">
        <img src="{% asset_path workflow/qa/optimized.png %}" class="img-responsive" />
      </div>

    </div>
    <div class="rsContent">
      <div class="slide-content">
        <h2>6. Final review</h2>
        <h3>Accessible to only you and your team, we want to educate relevant members on site operation and maintenance.</h3>
        <p contenteditable="true" class="rsNoDrag">This includes learning how to easily update copy.<br>Try it right now by editing this text.</p>
          <p><small>(Geek note: We use prose.io combined with github as ‘CMS’)</small></p>
      </div>
    </div>
    <div class="rsContent">
      <div class="slide-content slide-center-vertical slide-deploy">
        <h2>7. Final deploy</h2>
        <h3>The site is now live and public to everyone.</h3>
      </div>
      <div class="slide-graphic slide-graphic-deploy" data-toggle-invert>
        <img src="{% asset_path workflow/deploy.png %}" class="rsABlock img-responsive" data-move-effect="down" data-move-offset="20" />
      </div>
    </div>
  </div>
</div>