<div id="services-video">
  <video autoplay loop>
    <source src="{% asset_path sunrays.mp4 %}" type="video/mp4">
    <source src="{% asset_path sunrays.webm %}" type="video/webm">
  </video>
  <div class="video-fader"></div>
</div>
<section class="container">
  <div class="inner-wrapper">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#design" data-toggle="tab">Webdesign</a></li>
      <li><a href="#userexperience" data-toggle="tab">User Experience</a></li>
      <li><a href="#development" data-toggle="tab">Development</a></li>
      <li><a href="#performance" data-toggle="tab">Performance</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="design">
        <div class="row">
          <div class="col-sm-5">
            <p>Great design blends both function and beauty in a unique and intuitive way. Inevitably, it is also a question of compromising; to find the golden mean.</p>

            <h5>We design:</h5>
            <ul>
              <li>Websites</li>
              <li>Online identity and branding</li>
              <li>Landing pages that converts</li>
              <li>Web architecture</li>
            </ul>

            <hr>
            <p>
              <a href="#/info" data-accordion="pricing">$70 / hour. More info here.</a>
            </p>
            <p>
              <a href="#/info" data-accordion="why">Why work with us?</a>
            </p>
          </div>
          <div class="col-sm-6 col-sm-offset-1">
            <div class="design-concept">
              <h2>DESIGN</h2>
              <div class="design-concept-group design-concept-group-1 design-concept-group-light">
                <h3>beauty</h3>
                <div class="design-concept-ball design-concept-ball-1">unique</div>
                <div class="design-concept-ball design-concept-ball-2">charisma</div>
              </div>
              <div class="design-concept-group design-concept-group-2 design-concept-group-dark">
                <h3>function</h3>
                <div class="design-concept-ball design-concept-ball-3">intuitive</div>
                <div class="design-concept-ball design-concept-ball-4">durable</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="userexperience">
        <div class="row">
          <div class="col-sm-6">
            <h4>User Interface tips</h4>
            <ul>
              <li>Keep consistent design patterns</li>
              <li>Tolerate user errors</li>
              <li>Continuously provide feedback to users</li>
              <li>If it's not intuitive, it's complicated</li>
            </ul>

            <h4>Coversion Rate increase tips</h4>
            <ul>
              <li>Identify the goals of your users (this can be done with Google Analytics)</li>
              <li>Identify the taste of your users (using A/B tests)</li>
              <li>Once identified, revise every page on your website to make sure it caters to your users</li>
              <li>Measure it, measure it, measure it</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2 col-sm-offset-1">
                <div class="spacer-vertical left">
                  <div class="mask"></div>
                </div>
              </div>
              <div class="col-sm-9">
                <p>Keep your users engaged, and help them achieve their goal. Express your uniqueness - there's enough wordpress-template-look-a-likes out there. In other words, optimize the User Experience.</p><p><a href="#/contact">We'd like to work with you</a></p>
                <hr>
                <p>
                  <a href="#/info" data-accordion="pricing">$70 / hour. More info here.</a>
                </p>
                <p>
                  <a href="#/info" data-accordion="why">Why work with us?</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="development">
        <div class="row">
          <div class="col-sm-6">
            <h4>Front-end</h4>
            <ul>
              <li>Scalable CSS3 architecture (using sass and other frameworks)</li>
              <li>Compact Javascript / Coffeescript</li>
              <li>Semantic HTML5. Bootstrap 3</li>
              <li>Jekyll and Github based</li>
              <li>Our code is universal; easy to transfer to other developers</li>
            </ul>

            <h4>Back-end</h4>
            <ul>
              <li>PHP, Ruby on Rails, and Python web development</li>
              <li>eCommerce development (Magento)</li>
              <li>Facebook app development</li>
              <li>iPhone/iPad app development</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2 col-sm-offset-1">
                <div class="spacer-vertical left">
                  <div class="mask"></div>
                </div>
              </div>
              <div class="col-sm-9">
                <p>Let this site' code be the proof of our front-end expertise. If you're not familiar with front-end code, then we'd be happy to explain what makes this site particularly cutting-edge.</p><p>It's not a coincidence that Adobe has hired us for more than 20 projects over the last 5 years.</p><p><a href="#/contact">We'd like to work with you</a></p>
                <hr>
                <p>
                  <a href="#/info" data-accordion="pricing">$70 / hour. More info here.</a>
                </p>
                <p>
                  <a href="#/info" data-accordion="about">Curious about us?</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="performance">
        <div class="row">
          <div class="col-sm-6">
            <h4>Our websites works on all devices and screens</h4>
            <ul>
              <li>Screenshots from 300+ devices will be the proof</li>
              <li>Both slow and fast internet connections are considered</li>
              <li>From house-mom to computer-wizard, we understand peoples' needs</li>
            </ul>

            <h4>They are solid and ultra fast</h4>
            <ul>
              <li>Guerilla-tested to the very core</li>
              <li>Light-weight and fast websites (tested using Google <i>PageSpeed</i></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-2 col-sm-offset-1">
                <div class="spacer-vertical left">
                  <div class="mask"></div>
                </div>
              </div>
              <div class="col-sm-9">
                <p>A complimentary CMS-like editor is always included. This allows you to easily edit all your content. Yes, like the rest of our work, that too is minimalistic and intuitive.</p><p><a href="#/contact">We'd like to work with you</a></p><hr><p><a href="#/info" data-accordion="pricing">$70 / hour. More info here.</a></p><p><a href="#/info" data-accordion="warranty">3-month warranty on all our work</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</section>