<section id="services-wrapper" class="window subpage">  
  {% include section-header.html section="services" %}

  <section class="content-wrapper">
    <div class="inner-wrapper row">
      <div class="col-sm-12">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#development" data-toggle="tab">Development</a></li>
          <li><a href="#design" data-toggle="tab">Design</a></li>
          <li><a href="#interface" data-toggle="tab">Interface</a></li>
          <li><a href="#compatibility" data-toggle="tab">Compatibility</a></li>
        </ul>

        <div class="spacer-vertical left">
          <div class="mask"></div>
        </div>

        <div class="tab-content">
          <div class="tab-pane active" id="development">
            <div class="info-box"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat a nibh ac mollis. Maecenas orci purus, consectetur a consequat at, convallis eget dolor. Vivamus sollicitudin dapibus placerat. Nam pretium.</p></div>

            <ul>
              <li>list item here</li>
              <li>list item 2 here</li>
              <li>list item three here</li>
              <li>list item four here</li>
              <li>list item five here</li>
              <li>list item six here</li>
            </ul>
          </div>

          <div class="tab-pane" id="design">


            <div class="info-box"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat a nibh ac mollis.</p></div>

            <ul>
              <li>list item here</li>
              <li>list item 2 here</li>
              <li>list item six here</li>
            </ul>

          </div>

          <div class="tab-pane" id="interface">

            <div class="info-box"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat a nibh ac mollis.</p></div>

            <ul>
              <li>list item here</li>
              <li>list item 2 here</li>
              <li>list item six here</li>
              <li>list item six here</li>
              <li>list item six here</li>
            </ul>

          </div>

          <div class="tab-pane" id="compatibility">

            <div class="info-box"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat a nibh ac mollis.</p></div>

            <ul>
              <li>list item here</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>

  {% include footer.html %}

</section>

<!-- <img src="/images/services-placeholder.png"> -->