<section id="services" class="window subpage">
  <section class="content-wrapper">
    <div class="inner-wrapper row">
      <div class="col-sm-12">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#development" data-toggle="tab">Development</a></li>
          <li><a href="#design" data-toggle="tab">Design</a></li>
          <li><a href="#interface" data-toggle="tab">Interface</a></li>
          <li><a href="#compatibility" data-toggle="tab">Compatibility</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="development">
            <div class="info-box"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat a nibh ac mollis. Maecenas orci purus, consectetur a consequat at, convallis eget dolor. Vivamus sollicitudin dapibus placerat. Nam pretium.</p></div>

            <div class="spacer-vertical left">
              <div class="mask"></div>
            </div>

            <ul>
              <li>list item here</li>
              <li>list item 2 here</li>
              <li>list item three here</li>
              <li>list item four here</li>
              <li>list item five here</li>
              <li>list item six here</li>
            </ul>
          </div>

          <div class="tab-pane fade" id="design">
            <div class="info-box"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat a nibh ac mollis.</p></div>

            <div class="spacer-vertical left">
              <div class="mask"></div>
            </div>

            <ul>
              <li>list item here</li>
              <li>list item 2 here</li>
              <li>list item six here</li>
            </ul>
          </div>


          <div class="tab-pane fade" id="interface">
            <div class="info-box"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat a nibh ac mollis.</p></div>

            <div class="spacer-vertical left">
              <div class="mask"></div>
            </div>

            <ul>
              <li>list item here</li>
              <li>list item 2 here</li>
              <li>list item six here</li>
              <li>list item six here</li>
              <li>list item six here</li>
            </ul>
          </div>


          <div class="tab-pane fade" id="compatibility">
            <div class="info-box"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat a nibh ac mollis.</p></div>

            <div class="spacer-vertical left">
              <div class="mask"></div>
            </div>

            <ul>
              <li>list item here</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>

</section>