/* variables */
$white: #ffffff;
$gray: #525252;
$gray70: #4d4d4d;
$gray85: #272727;

$goldenbrown: #c3a96a;
$beige: #bbb4a0;

$usability-color: #fbd738;
$durability-color: $gray70;
$art-color: #ff3ac1;

$smokewhite: #f4f4f4;

$fonts: "ff-basic-gothic-web-pro-1", "ff-basic-gothic-web-pro-2";