/* marquee variables */
$defaultTransitionSpeed: 0.3s;
$fastTransitionSpeed: 0.5s;


/* COLOR VARIABLES */
$white: #ffffff;
$smokewhite: #f4f4f4;
$black: #000000;
$gray: #525252;
$gray2: #fbfbfb;
$gray6: #f0f0f0;
$gray10: #e5e5e5;
$gray20: #cccccc;
$gray40: #999999;
$gray60: #666666;
$gray70: #4d4d4d;
$gray80: #343434;
$gray85: #272727;
$goldenbrown: #c3a96a;
$golden: #e1cb88;
$goldendark: #594A1B;
$beige: #bbb4a0;
$zen-red: #a5696f;
$zen-green: #4b723a;
$turquoise: #89b399;
$bluewhite: #d3f3e0;

$tooltipBG: $gray2;

// MANIFESTOS SPECIFIC VARIABLES
$manifestos-nav-color: $gray80;
$durability-color: $gray70;
$usability-color: #fbd738;
$art-color: #d349d1;
$art-color-dark: #4a1876;
$manifestos-color-inverted-mode-1: $black;
$manifestos-color-inverted-mode-2: #515134;

// PORTFOLIO SPECIFIC VARIABLES
$portfolio-nav-color: #e1cb88;
$portfolio-color: #e5dbb7;
$portfolio-color-dark: #E0C77D;
$portfolio-color-inverted-mode-1: darken($portfolio-color, 60%);
$portfolio-color-inverted-mode-2: darken($zen-green, 10%);

$portfolio-container-lg: 1000px;

// SERVICES SPECIFIC VARIABLES
$services-nav-color: #afc8b4;
$services-color: #c3d5c7;
$services-color-inverted-mode-1: #2f3632;
$services-color-inverted-mode-2: invert($services-color);