/* mixins */
@mixin yellow-btn {
  background: #fba502;
  background: -moz-linear-gradient(#fba502, #fddc69);
  background: -webkit-linear-gradient(#fba502, #fddc69);
  background: -o-linear-gradient(#fba502, #fddc69);
  background: -ms-linear-gradient(#fba502, #fddc69);
  /*For IE10*/
  background: linear-gradient(#fba502, #fddc69);
  font-size: 13px;
  font-weight: 600;
  height: 24px;
  border: 1px solid;
  display: inline;
  text-shadow: none;
  text-transform: none;
  color: #1f1f1f !important;
  padding: 2px 17px 2px;
  text-decoration: none;
}

@mixin transition($transition)
{
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin disableHighlighting
{
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

@mixin gradientBG($color1, $color2)
{
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, $color1 0%, $color2 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, $color1 0%, $color2 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(top, $color1 0%, $color2 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $color1), color-stop(1, $color2));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, $color1 0%, $color2 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, $color1 0%, $color2 100%);
}


@mixin gradientDiagonal($color1, $color2)
{
  background: $color1; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWU1Nzk5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  rgba($color1,1) 0%, rgba($color2,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba($color1,1)), color-stop(100%,rgba($color2,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  rgba($color1,1) 0%,rgba($color2,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  rgba($color1,1) 0%,rgba($color2,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  rgba($color1,1) 0%,rgba($color2,1) 100%); /* IE10+ */
  background: linear-gradient(135deg,  rgba($color1,1) 0%,rgba($color2,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color1, endColorstr=$color2,GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

@mixin diagonalGradient($color1, $color2, $color-stop-percentage)
{
  background: $color1; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba($color1,1) 0%, rgba($color1,1) $color-stop-percentage, rgba($color2,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba($color1,1)), color-stop($color-stop-percentage,rgba($color1,1)), color-stop(100%,rgba($color2,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba($color1,1) 0%,rgba($color1,1) $color-stop-percentage,rgba($color2,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba($color1,1) 0%,rgba($color1,1) $color-stop-percentage,rgba($color2,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba($color1,1) 0%,rgba($color1,1) $color-stop-percentage,rgba($color2,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba($color1,1) 0%,rgba($color1,1) $color-stop-percentage,rgba($color2,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin transparentGradientRight($color, $opacity:1){

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, rgba($color, $opacity) 0%, rgba($color,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($color, $opacity)), color-stop(100%,rgba($color,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba($color, $opacity) 0%,rgba($color,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba($color, $opacity) 0%,rgba($color,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba($color, $opacity) 0%,rgba($color,0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba($color, $opacity) 0%,rgba($color,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color, endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */
}

@mixin transparentGradientLeft($color, $opacity:1){
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(left,  rgba($color,0) 0%, rgba($color, $opacity) 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($color,0)), color-stop(100%,rgba($color, $opacity))); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(left,  rgba($color,0) 0%,rgba($color, $opacity) 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(left,  rgba($color,0) 0%,rgba($color, $opacity) 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(left,  rgba($color,0) 0%,rgba($color, $opacity) 100%); /* IE10+ */
  background-image: linear-gradient(to right,  rgba($color,0) 0%,rgba($color, $opacity) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr=$color,GradientType=1 ); /* IE6-8 */
}


@mixin transparentGradientTop($color, $opacity:1, $color-stop-percentage:60%, $color-stop-opacity:0.4){
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba($color,$color-stop-opacity) $color-stop-percentage, rgba($color,0.99) 99%, rgba($color,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop($color-stop-percentage,rgba($color,$color-stop-opacity)), color-stop(99%,rgba($color,0.99)), color-stop(100%,rgba($color,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba($color,$color-stop-opacity) $color-stop-percentage,rgba($color,0.99) 99%,rgba($color,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba($color,$color-stop-opacity) $color-stop-percentage,rgba($color,0.99) 99%,rgba($color,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba($color,$color-stop-opacity) $color-stop-percentage,rgba($color,0.99) 99%,rgba($color,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba($color,$color-stop-opacity) $color-stop-percentage,rgba($color,0.99) 99%,rgba($color,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='$color',GradientType=0 ); /* IE6-9 */
}

@mixin transparentGradientBottom($color, $opacity:1, $color-stop-percentage:60%, $color-stop-opacity: 0.4){
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhMzgzMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(58,56,49,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,56,49,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(58,56,49,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(58,56,49,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(58,56,49,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(58,56,49,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3831', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */

}


@mixin boxshadow($shadow)
{
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin stripedBG($color1, $color2, $opacity)
{
  background-size: 50px 50px;
  background-color: $color2;
  background-image: -webkit-linear-gradient(45deg, rgba($color1, $opacity) 25%, transparent 25%,
                    transparent 50%, rgba($color1, $opacity) 50%, rgba($color1, $opacity) 75%,
                    transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba($color1, $opacity) 25%, transparent 25%,
                    transparent 50%, rgba($color1, $opacity) 50%, rgba($color1, $opacity) 75%,
                    transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba($color1, $opacity) 25%, transparent 25%,
                    transparent 50%, rgba($color1, $opacity) 50%, rgba($color1, $opacity) 75%,
                    transparent 75%, transparent);
  -pie-background: linear-gradient(45deg, rgba($color1, $opacity) 25%, transparent 25%,
                   transparent 50%, rgba($color1, $opacity) 50%, rgba($color1, $opacity) 75%,
                   transparent 75%, transparent) 0 0 / 50px 50px $color2;
  behavior: url(/pie/PIE.htc);  
}

@mixin zigzag($color1, $color2)
{
}

@mixin carbonBG()
{
  background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
              -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
              -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
              -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
              -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
              -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
              -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
              -moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
              -moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
              -moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
              -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
              linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
              linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
              linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
              linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
              linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-size: 20px 20px;
  background-color: #131313;
  -pie-background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px / 20px,
                   linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px / 20px,
                   linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px / 20px,
                   linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px / 20px,
                   linear-gradient(90deg, #1b1b1b 10px, transparent 10px) 0 0 / 20px,
                   linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424)
                   0 0 / 20px #131313;
  behavior: url(/pie/PIE.htc);

}