/* variables */
@import "constants";

/* variables */
@import "mixins";

// local mixins
@mixin footerNavActive($color)
{
  background: rgba($color, 0.5);
}


// styles start
body
{
  footer
  {
    position: fixed;
    top: 700px;
    height: 100%;
    width: 100%;
    z-index: 9999;
    @include transition((background $defaultTransitionSpeed ease, top $fastTransitionSpeed ease-out));

    .copyright
    {
      font-size: 1.2em;
      padding-top: 4px;
      @include transition(opacity $defaultTransitionSpeed);      
    }

    section#footer-content
    {
      opacity: 0;

      .collapseFooter
      {
        cursor: pointer;
        text-align: right;
        float: right;
      }
    }

    .content-wrapper
    {
      border-top: 1px solid $gray20;
    }

    ul
    {
      list-style-type: none;
      padding: 0;

      li
      {
        position: relative;
        display: inline-block;
        font-size: 1.3em;
        padding: 3px 22px;
        text-transform: uppercase;
        @include transition(all $defaultTransitionSpeed);

        .cta-helper
        {
          opacity: 0;
          position: absolute;
          top: -50px;
          left: 50%;
          margin-left: -60px;
          width: 120px;
          padding: 5px;
          text-align: center;
          font-size: 11px;
          background: rgba($gray20, 0.3);
          @include transition(opacity ($defaultTransitionSpeed*2));

          .cta-helper-arrow
          {
            position: absolute;
            bottom: -10px;
            margin-left: -10px;
            left: 50%;
            width:0;
            height:0;
            border-color:transparent;
            border-style:solid;
            border-top-color: rgba($gray20, 0.3);
            border-width:10px 10px 0;
          }
        }
      }
    }

    #info-slide
    {
      .accordion
      {
        margin-bottom: 20px;
      }

      .button.footer-cta-item
      {
        position: absolute;
        bottom: 15px;
        right: 0;
      }
    }

    #contact-slide
    {
      text-align: center;
      padding-top: 50px;

      p
      {
        font-size: 3em;
      }

      .button-get-a-quote
      {
        margin-top: 50px;
      }

      small
      {
        display: block;
        margin-top: 10px;
      }
    }

    #get-a-quote-slide
    {
      text-align: right;

      h2
      {
        text-align: left;
      }

      input, textarea
      {
        display: block;
        width: 100%;
        border: none;
        outline: 0;
        background: transparent;
        font-size: 1.8em;
        margin-bottom: 20px;

        &:hover, &:focus, &:active
        {
          border: none !important;
          outline: none !important;
          text-decoration: none !important;
        }
      }

      textarea
      {
        height: 200px;
      }
    }
  }
}


// ADD SPECIFIC BLUR TRANSITION EFFECT ON TARGET ELEMENTS
body
{
  #manifestos
  {
    .content-wrapper
    {
      @include transition((-webkit-filter $defaultTransitionSpeed, filter $defaultTransitionSpeed))
    }

    #marquee-wrapper
    {
      #marquee
      {
        .marquee-headline, .nav
        {
          @include transition((-webkit-filter $defaultTransitionSpeed, filter $defaultTransitionSpeed))
        }
      }
    }
  }
}


// FOOTER ACTIVE STATE
body.footer-active
{
  header
  {
    .goldenchai-logo-wrapper
    {
      bottom: 20px;
      opacity: 0.4;
    }

    #primary-nav
    {
      opacity: 0;
    }
  }

  // blur/hide manifestos stuff
  .window
  {
    .content-wrapper, #marquee .nav, #marquee .marquee-headline
    {
      @include blur(10px);
      @include blurPerformanceHack(); // hack to speed up performance of blur. Don't know why it works, but an article gave this suggestion with good test results.
    }

    .black-diamond
    {
      opacity: 0.3 !important;
    }
  }

  // blur/hide portfolio stuff
  #portfolio
  {
    .royalSlider
    {
      @include blur(10px);
      @include blurPerformanceHack(); // hack to speed up performance of blur. Don't know why it works, but an article gave this suggestion with good test results.      

      .rsOverflow
      {
        opacity: 0.5;
      }
    }
  }

  #marquee
  {
    .marquee-bg
    {
      opacity: 0 !important;
    }

    .marquee-shadow
    {
      visibility: hidden;
    }
  }

  footer
  {
    top: 120px;

    nav
    {
      li
      {
        font-size: 1.5em;
      }

      li.active
      {
        &:hover
        {
          .cta-helper
          {
            opacity: 1 !important;
            @include transition(opacity ($defaultTransitionSpeed*2) ease 1.5s);
          }          
        }

        &.showHelperText
        {
          .cta-helper
          {
            opacity: 1 !important;
            @include transition(opacity ($defaultTransitionSpeed*4) ease 0.5s);
          }
        }
      }
    }

    .copyright
    {
      opacity: 0;
    }
  
    section#footer-content
    {
      opacity: 1;
    }
  }
}

body.page-manifestos
{
  footer
  {
    ul
    {
      li.footer-nav-manifestos
      {
        @include footerNavActive($white);
      }
    }

    nav
    {
      li.active
      {
        @include footerNavActive($gray20);
      }
    }
  }
}

body.page-portfolio
{
  footer
  {
    ul
    {
      li.footer-nav-portfolio
      {
        @include footerNavActive($white);
      }
    }

    nav
    {
      li.active
      {
        @include footerNavActive($white);
      }
    }
  }
}

body.page-services
{
  footer
  {
    ul
    {
      li.footer-nav-services
      {
        @include footerNavActive($white);
      }
    }

    nav
    {
      li.active
      {
        @include footerNavActive($white);
      }
    }
  }
}