/* variables */
@import "constants";

/* variables */
@import "mixins";

// local mixins
@mixin footerNavActive()
{
  background: rgba($gray20, 0.3);
}


// styles start
body
{
  footer
  {
    position: fixed;
    top: 650px;
    height: 100%;
    width: 100%;
    z-index: 9999;
    @include transition(top $defaultTransitionSpeed ease-out);

    p, li
    {
      font-size: 1.2em;
    }

    nav
    {
      li.active
      {
        @include footerNavActive();
      }      
    }

    .content-wrapper
    {
      border-top: 1px solid $gray20;
    }

    &.active
    {
      top: 130px;
      background-color: $white;

      .copyright
      {
        opacity: 0;
      }
    }

    .copyright
    {
      padding-top: 4px;
      @include transition(opacity $defaultTransitionSpeed);
    }

    ul
    {
      list-style-type: none;
      padding: 0;

      li
      {
        display: inline-block;
        padding: 4px 15px;
        text-transform: uppercase;
      }
    }
  }
}

body.page-manifestos
{
  footer
  {
    ul
    {
      li.footer-nav-manifestos
      {
        @include footerNavActive();
      }
    }
  }
}

body.page-portfolio
{
  footer
  {
    ul
    {
      li.footer-nav-portfolio
      {
        @include footerNavActive();
      }
    }
  }
}

body.page-services
{
  footer
  {
    ul
    {
      li.footer-nav-services
      {
        @include footerNavActive();
      }
    }
  }
}