@import "constants";
@import "mixins";
@import "bootstrap-variables";

/***************
*
*  1. Arrows
*
****************/

.rsDefault .rsArrow {
  height: 60px;
  width: 44px;
  position: absolute;
  display: block;
  cursor: pointer;
  z-index: 21;
}


/***************
*
*  3. Thumbnails
*
****************/

.rsDefault .rsThumbsHor {
  width: 100%;
}
.rsDefault .rsThumbsVer {
  padding-right: 4px;
  width: 96px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.rsDefault.rsWithThumbsHor .rsThumbsContainer {
  position: relative;
  height: 100%;
}
.rsDefault.rsWithThumbsVer .rsThumbsContainer {
  position: relative;
  width: 100%;
}
.rsDefault .rsThumb img {
  width: 100%;
}
.rsDefault .rsThumb.rsNavSelected img {
  opacity: 1;
  filter: alpha(opacity=100);
}
.rsDefault .rsThumb img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.rsDefault .rsTmb {
  display: block;
}


#portfolio-thumbs-slider
{
  margin: 0 auto;

  .rsThumbs
  {
    margin-top: 20px;
    width: $portfolio-container-lg;

    .rsThumbsContainer
    {
      border-top: 2px solid $black;

      .rsThumb
      {
        padding-top: 10px;
        margin-top: -2px;

        &.rsNavSelected
        {
          // background: url("/images/active-tab-arrow.png") center bottom no-repeat;
          .arrow-up {
            position: absolute;
            margin-left: -20px;
            top: 0;
            left: 50%;
            @include triangle(20px, $black, top);


            .arrow-up-inner {
              position: relative;
              right: 18px;
              top: -21px;
              @include triangle(18px, $portfolio-color, top);

            }
          }
        }
      }
    }
  }


  .rsOverflow
  {
    > .rsSlide
    {
      width: 800px;
    }
  }

  /* Thumbnails arrow icons */
  .rsThumbsArrow {
    height: 100%;
    width: 100px;
    position: absolute;
    display: block;
    cursor: pointer;  
    z-index: 21;  
  }

  .rsThumbsArrowLeft
  {
    left: 0;
    top: 0;
    @include transparentGradientRight($portfolio-color);
  }

  .rsThumbsArrowRight
  {
    right: 0;
    top: 0;
    @include transparentGradientLeft($portfolio-color);
  }

  .rsThumbsArrowDisabled { display: none !important; }
}


/* PORTFOLIO CONTENT SLIDER STYLES */

.portfolio-content-slider
{
  &.adobe-slider
  {
    .rsArrowRight
    {
      display: block !important;
    }    
  }

  .rsOverflow
  {
    width: $container-lg;
    max-width: $container-lg;
    margin-left: (($portfolio-container-lg - $container-lg)/2);
  }


  .rsArrowRight, .rsArrowLeft
  {
    top: 50%;
    margin-top: -30px;
    width: 150px;
    line-height: 60px;
    font-size: 13px;
    @include transition(width 0.2s linear);

    .rsArrowIcn {
      width: 28px;
      height: 36px;
      top: 50%;
      margin-top: -18px; 
      position: absolute; 
      cursor: pointer;
      @include transition(background-position 0.2s linear);

      background-image: image-url("arrows.png");
      background-repeat: no-repeat;
    }

    &.rsHide
    {
      display: none !important;
    }

    &.rsArrowDisabled
    {
    }
  }

  .rsArrowRight
  {
    right: 0;

    .rsArrowIcn
    {
      right: 80px;
      background-position: 0 0;
    }

    &.rsArrowDisabled
    {
      background-position: 0 0;

      &:after
      {
        content: "NEXT PROJECT";
      }

      .rsArrowIcn
      {
        right: 0;
      }
    }
  }

  .rsArrowLeft
  {
    left: 80px;

    &:hover
    {
      opacity: 1;
    }

    .rsArrowIcn
    {
      left: 0;
      background-position: 0 -36px;
    }

    &.rsArrowDisabled
    {
      .rsArrowIcn
      {
        background-position: 0 -36px;
      }
    }
  }

}

// body.subpage
// {
//   #portfolio-wrapper
//   {
//     padding-top: 0;

//     #portfolio-thumbs-slider
//     {
//       width: 100% !important;

//       .rsThumbs
//       {
//         width: inherit;
//         margin-left: 0;
//       }
//     }

//     .portfolio-content-slider
//     {
//       width: 900px !important;
//       height: 400px !important;
//       margin: 0 auto;

//       .rsOverflow
//       {
//         width: 600px !important;
//         // margin-left: 0px !important;

//         > .rsSlide
//         {
//           width: inherit !important;
//         }
//       }
//     }    
//   }
// }




body.site-multiple-pages.page-portfolio
{
  section#portfolio
  {
    .container
    {
      .portfolio-content-slider 
      {
        width: 100%;

        .rsOverflow
        {
          width: 100% !important;
          margin-left: 0;
        }

        .rsArrow
        {
          display: none !important;
        }
      }
    }
  }
}

section#portfolio
{
  #portfolio-thumbs-slider
  {
    margin-top: 20px;

    .rsThumb:nth-child(1)
    {
      display: none;
    }
  }

  .portfolio-content-slider
  {
    .rsSlide
    {
      .rsImg.rsMainSlideImage
      {
        width: $container-lg !important;
        margin: 0 !important;
        height: auto !important;
      }
    }
  }
}

#portfolio-fader
{
  width: 100%;
  height: 20%;
  position: absolute;
  top: 200%;
  z-index: 999999999999;
}


@media (max-width: $screen-md) {
  section#portfolio
  {
    #portfolio-thumbs-slider
    {
      width: 100%;
      padding: 0 15px;

      .rsThumbs
      {
        width: 100%;
      }
    }

    .portfolio-content-slider
    {
      width: 100%;
      max-width: $container-lg;
      margin: 0 auto;

      .rsOverflow
      {
        margin-left: 0;
      }

      .rsArrow
      {
        display: none !important;
      }
    }
  }
}
