@import "constants";
@import "mixins";
@import "bootstrap-variables";


.rsDefault .rsThumb
{
  float: left;
  width: 120px;
  height: 100px;
  padding-right: 20px;
}

#portfolio-thumbs-slider
{
  width: $portfolio-container-lg;
}

#portfolio-thumbs-slider
{
  height: 500px;
}

.portfolio-content-slider
{
  height: 400px;
}

#footer-content-slider
{
  height: 1200px;
}


// TABLET BOTH PORTRAIT AND LANDSCAPE STYLES
@media (min-device-width: $screen-phone) and (max-device-width: $screen-tablet) and (orientation: portrait), (min-device-width: $screen-phone) and (max-device-width: $screen-tablet) and (orientation: landscape)
{
  .portfolio-content-slider
  {
    height: 450px;

    .rsSlide
    {
      max-height: 450px;
    }

    .slide-caption
    {
      opacity: 1 !important;
    }
  }
}