@import "constants";
@import "mixins";
@import "bootstrap-variables";


.rsDefault .rsThumb
{
  float: left;
  width: 120px;
  height: 100px;
  padding-right: 20px;
}

#portfolio-thumbs-slider
{
  width: $portfolio-container-lg;
}

#portfolio-thumbs-slider
{
  height: 500px;
}

.portfolio-content-slider
{
  height: 400px;
}

#footer-content-slider
{
  height: 1200px;
}