/* variables */
@import "constants";

/* variables */
@import "mixins";


/* header */
body
{
  header
  {
    position: fixed;
    top: 0px;
    padding-top: 70px;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    z-index: 99999;

    .samuchai-logo-wrapper
    {
      position: relative;
      cursor: pointer;
      width: 102px;
      height: 40px;
      @include disableHighlighting;

      .samuchai-logo
      {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 7px 10px;
        font-size: 1.5em;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        text-align: center;

        &.samuchai-logo-manifestos
        {
          .logo-copy
          {
            .logo-chai
            {
              color: $goldenbrown;
            }
          }
        }

        &.samuchai-logo-portfolio
        {
          opacity: 0;
          background-color: $gray6;

          .logo-copy
          {
            .logo-samu
            {
              color: $black;
            }

            .logo-chai
            {
              color: $goldenbrown;
            }
          }
        }
      }
    }
  }
}


// STYLES FOR DURABILITY ONLY
body.durability
{
  header
  {
    .samuchai-logo-wrapper
    {
      .samuchai-logo.samuchai-logo-manifestos
      {
        background-color: darken($durability-color, 10);

        .logo-copy .logo-samu
        {
          color: $smokewhite;
        }
      }
    }
  }
}

// STYLES FOR USABILITY ONLY
body.usability
{
  header
  {
    .samuchai-logo-wrapper
    {
      .samuchai-logo.samuchai-logo-manifestos
      {
        background-color: $usability-color;

        .logo-copy .logo-samu
        {
          color: $gray85;
        }
      }
    }
  }
}

// STYLES FOR ART ONLY
body.art
{
  header
  {
    .samuchai-logo-wrapper
    {
      .samuchai-logo.samuchai-logo-manifestos
      {
        background-color: darken($art-color, 20);

        .logo-copy .logo-samu
        {
          color: $smokewhite;
        }
      }
    }
  }
}