/* variables */
@import "constants";

/* variables */
@import "mixins";


/* header */
body
{
  header
  {
    position: fixed;
    top: 0px;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    padding-top: 70px;
    padding-bottom: 10px;
    z-index: 99999;

    .goldenchai-logo-wrapper
    {
      position: relative;
      cursor: pointer;
      width: 102px;
      height: 40px;
      @include transition(bottom $fastTransitionSpeed);
      @include disableHighlighting;

      .goldenchai-logo
      {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 7px 13px;
        font-size: 1.5em;
        text-transform: uppercase;
        text-align: center;
        @include transition(all $defaultTransitionSpeed);

        &:hover
        {
          text-shadow: 0 0 10px $gray40;
        }

        &.goldenchai-logo-manifestos
        {
          z-index:999;

          .logo-copy
          {
            .logo-golden
            {
              color: $golden;
            }

            .logo-chai
            {
              color: $white;
            }
          }
        }

        &.goldenchai-logo-portfolio
        {
          opacity: 0;
          background-color: $gray6;

          .logo-copy
          {
            .logo-golden
            {
              color: $goldenbrown;
            }
          }
        }
      }
    }
  }
}


// STYLES FOR DURABILITY ONLY
body.durability
{
  header
  {
    .goldenchai-logo-wrapper
    {
      .goldenchai-logo.goldenchai-logo-manifestos
      {
        background-color: darken($durability-color, 10);
      }
    }
  }
}

// STYLES FOR USABILITY ONLY
body.usability
{
  header
  {
    .goldenchai-logo-wrapper
    {
      .goldenchai-logo.goldenchai-logo-manifestos
      {
        background-color: $usability-color;

        &:hover
        {
          text-shadow: 0 0 10px $white;
        }

        .logo-golden
        {
          color: $goldendark;
        }

        .logo-chai
        {
          color: $gray40;
        }
      }
    }
  }
}

// STYLES FOR ART ONLY
body.art
{
  header
  {
    .goldenchai-logo-wrapper
    {
      .goldenchai-logo.goldenchai-logo-manifestos
      {
        background-color: darken($art-color, 20);
      }
    }
  }
}