@import "constants";
@import "mixins";
@import 'bootstrap-variables';


body
{
  .container
  {
    .inner-wrapper
    {
      position: relative;
      margin: 40px auto;
      height: inherit;
    }
  }

  .window
  {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 110px;
    overflow: hidden;
  }

  &.index.site-multiple-pages
  {
    section.window
    {
      &.subpage
      {
        display: none;
      }
    }
  }
}


/* MEDIA QUERIES */

@media (max-width: $screen-sm) {
  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
}


@media (max-width: $screen-xs)
{
  body
  {
    .container
    {
      width: 100%;
    }

    .window
    {
      padding-top: 55px;
    }
  }
}