/* variables */
@import "constants";

/* mixins */
@import "mixins";


/* typography */

h1, h2, h3, h4, h5, h6, p, ul, li, div, span, blockquote, nav, footer, header, button, a
{
  font-family: $fonts !important;
  color: $gray70;
  line-height: 160%;
}

p
{
  font-size: 1.5em;
}

a, a:active, a:focus, a:visited, a:hover
{
  background-color: none;
  border: none;
  outline: none !important;
  text-decoration: none !important;
}

/* layouts */

html, body
{
  font-family: $fonts;
  margin: 0;
  padding: 0;
}

body
{
  .content-wrapper, header, footer
  {
    max-width: 720px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .inner-wrapper
    {
      position: relative;
      margin: 40px auto;
      height: inherit;
    }
  }

  .window
  {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 110px;
    overflow: hidden;
  }

  &.site-multiple-pages
  {
    footer
    {
      // position: relative;
    }

    section.window
    {
      // position: relative;
      // height: auto;
      // overflow: hidden;
      // padding-top: 0;

      &.subpage
      {
        display: none;
      }
    }
  }
}


/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
  /* Sometimes, you just want to be different on small screens */
  .center-on-mobiles {
    text-align: center !important;
  }
  .hide-on-mobiles {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  body
  {
    // font-size: 50%;
  }
}