/* variables */
@import "constants";

/* variables */
@import "mixins";


// MEDIA QUERIES JUST FOR THE RESPONSIVE STUFF ONLY. LATER WE ADD SPECIFIC STYLES FOR "body.mobile"
// ********************************************************************************************

// less than 721 px wide screens
@media screen and (max-width: 720px)
{
  body
  {
    header
    {
      #primary-nav
      {
        right: 10px;
      }
    }

    .content-wrapper, header, footer
    {
      width: 100%;
      left: auto;
      margin-left: 0;
      padding-left: 10px;
      padding-right: 10px;
    }

    .content-wrapper
    {
      margin: 0;
    }
  }  
}


// less than 668px wide screens
@media screen and (max-width: 667px)
{
  body
  {
    #manifestos
    {
      .content-wrapper
      {
        .inner-wrapper
        {
          .main-content
          {
            .tab-content
            {
              .tab-pane
              {
                .content-front
                {
                  .content-cta
                  {
                    margin-right: -100px;
                  }
                }
              }
            }
          }
        }
      }

      #marquee-wrapper
      {
        height: 124px;

        #marquee
        {
          .marquee-headline h1
          {
            font-size: 2em;
            margin: 0;
          }

          .nav
          {
            font-size: 3em;
          }
        }
      }
    }
  }  
}


// less than 444px wide screens
@media screen and (max-width: 443px)
{
  body
  {
    #manifestos
    {
      #marquee-wrapper
      {
        height: 118px;

        #marquee
        {
          .marquee-headline h1
          {
            font-size: 2em;
            margin: 0;
          }

          .nav
          {
            font-size: 2.5em;
          }
        }
      }
    }
  }
}  


// MOBILE SPECIFIC STYLES
// note: when mobile is detected, the class "site-multiple-pages" also gets added. These styles are primarily in the main layout.scss file
body.mobile
{
  footer
  {
    position: relative;
  }
}