<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />

  <title>Samuchai - Minimalistic Front-end</title>

  <script type="text/javascript" src="//use.typekit.net/qxk0qin.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% stylesheet application %}

  <link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico">
</head>

<body>

<div id="content">

  {% include primary-story.html %}

  <section class="window" id="portfolio"></section>

  <section class="window" id="services"></section>

</div>


{% javascript application %}

</body>
</html>
