<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />

  <title>Minimalist web development. GoldenChai.</title>

  <script type="text/javascript" src="//use.typekit.net/qxk0qin.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  {% javascript application-init %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% stylesheet application %}


  <!-- keyframes for skrollr -->
  <link rel="stylesheet" type="text/css" href="/assets/keyframes/layout.css" data-skrollr-stylesheet />
  <link rel="stylesheet" type="text/css" href="/assets/keyframes/manifestos.css" data-skrollr-stylesheet />
  <link rel="stylesheet" type="text/css" href="/assets/keyframes/portfolio.css" data-skrollr-stylesheet />
  <link rel="stylesheet" type="text/css" href="/assets/keyframes/services.css" data-skrollr-stylesheet />
  <link class="mobile" rel="stylesheet" type="text/css" href="/assets/keyframes/site-multiple-pages.css" data-skrollr-stylesheet />

  <link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico">
</head>

<body>

  <!-- INCLUDE THE HEADER -->
  {% include header.html %}


  <!-- INCLUDE THE MANIFESTOS CONTENT -->
  {% include pages/manifestos.html %}  

  <!-- INCLUDE THE FULL PORTFOLIO CONTENT -->
  {% include pages/portfolio-full.html %}

  <!-- INCLUDE THE SERVICES CONTENT -->
  {% include pages/services.html %}

  <!-- INCLUDE THE FOOTER -->
  {% include footer.html %}


  <!-- the main js files (compiled) -->
  {% javascript application %}


  <!-- include the js files that shouldn't be pre-compiled. This is primarily the ones that uses environment variables (such as the scrolling stuff) -->
  <script type="text/javascript" src="/assets/deeplinking.js"></script>
  <script type="text/javascript" src="/assets/scrollBehaviours.js"></script>

</body>
</html>