{% if include.side == "front" %}
  <h3>Manifesto #3: Unique and minimal; every component should serve a purpose - and look beautiful too.</h3>
  <p>Your brand is unique - equally should your website be. Every feature we design and build, will reflect your brand and vision. Repeatedly we revise every component to make it more minimal, intuitive, meaningful, and more beautiful.</p>
  <p>As our work shows; typography, alignment, symmetry, and color harmony are all part of our passion.</p>
  <p>It is truly an Art to combine it all. Durable - yet beautiful. Minimal - yet usable. We create art.</p>

{% else %}

  <quote>"Simplicity is the ultimate sophistication"</quote>
  <span class="author">- Leonardo Da Vinci</span>

{% endif %}