{% if include.side == "front" %}
  <h3>Manifesto #3: Lorem ipsum</h3>
  <p>Magnificence is symmetry and consistency blended with an unusual inspiration from nature... Beauty is, when magnificence touches us so profoundly that all words are lost.
  <p>As our work shows, typography, alignment, minimalism, color harmony are all part the thoughtful user experience we call a Website.</p>
  <p>Your website is part of your identity - part of your brand.
  Make it represent you well; work with us today.</p>

{% else %}

  <quote>"Simplicity is the ultimate sophistication"</quote>
  <span class="author">- Leonardo Da Vinci</span>

{% endif %}