{% if include.side == "front-desktop" %}
  <h3>Manifesto #3: Unique and minimal: Every component should serve a purpose and look beautiful too.</h3>
  <p>Your brand is unique - so should your website. With a laser focus, we design and build every component to reflect your brand and vision. This will allow your products, services and identity to come alive.</p>
  <p>Having beautiful typography, alignment, symmetry, and color harmony, are just the basics. Taking it further, we create websites that surprise people because they're elegantly unique.</p>
  <p>It is truly a pleasure to work with our clients and combine it all: Durable - yet minimal. Beautiful - yet usable.</p>

{% elsif include.side == "front-mobile" %}


{% else %}

  <quote>&ldquo;Simplicity is the ultimate sophistication&bdquo;</quote>
  <span class="author">- Leonardo Da Vinci</span>

{% endif %}