{% if include.side == "front" %}

  <h1>Manifesto #1: Your website should be rock-solid and stay robust through any storm.</h1>
  <p>Fully responsive in all browsers and platforms (including mobile and tablets), we ensure your visitors a start-to-end solid experience.</p>
  <p>To achieve these high standards, we utilize scalable, agile, and semantic development practices. This also means lightning-fast turnaround time, should your needs change.</p>
  <p>Before deploying your website, Quality Assurance experts (QA) verifies the site is 100% bug-free and durable as a rock.</p>

{% else %}

  <h2>In summary...</h2>
  <div class="row">
    <ul class="col-sm-6">
      <li>Fully responsive on all platforms: <a href="#" data-toggle="tooltip" title="including Mac, Windows, iPhone, iPad, and various Android devices">desktop, tablets and mobile</a></li>
      <li><a href="#" data-toggle="tooltip" title="including Chrome, Internet Explorer, Safari and Firefox">Cross-browser optimized</a></li>
    </ul>
    <ul class="col-sm-6">
      <li><a href="#" data-toggle="tooltip" title="Scalability means easy to add new pages, content or modify anything while still maintaining consistency">Always scalable and consistent</a></li>
      <li><a href="#" data-toggle="tooltip" title="QA experts assures the website is rock-solid and meets all requirements">100% bug-free</li>
      <li><a href="#" data-toggle="tooltip" title="New sites and features are pushed to a secure &quot;Preview site&quot; for your approval prior to a big production deploy">Secure 3-layer deploys</a></li>
    </ul>

    <div class="clear"></div>

  </div>
  <p><i>Durability</i> is just one of three essential components; <a href="#usability">Usability</a> is equally important.</a></p>

{% endif %}