<div class="accordion-item accordion-item-why active">
  <h3 class="accordion-title">Why work with us?</h3>
  <div class="accordion-content">
    <p>We're perfectionists in what we do. It is a healthy obsession (the wife may disagree). Besides our talents, in working with us, you're ensured clear communication, transparency, on-budget and on-time delivery.</p>
    <p>To respect momentum and creativity, we aim to deliver your website in maximum 6-8 weeks. Normally it'll take 4-6 weeks for a standard website.</p>
    <p>Regardless of our work quality, we're still new as a company. This is reflected in our affordable hourly rate of $70. Be part of our history, and <a href="#/contact">work with us today</a>.</p>
  </div>
</div>

<div class="accordion-item accordion-item-about">
  <h3 class="accordion-title">About GoldenChai</h3>
  <div class="accordion-content">
    <img src="{% asset_path julian.jpg %}" width="100" class="profile-img pull-right">
    <p>We're a brand new company. Based in India, we're commited to compete with the western agencies and contracters on many levels; quality, pricing, and delivery time. Besides being higher value for money, lead designer, Julian Jorgensen, offers a unique dedication for minimalism that is still currently rare, in our time.</p>
    <p>Be part of our history, and <a href="#/contact">work with us today</a>.</p>
  </div>
</div>

<div class="accordion-item accordion-item-pricing">
  <h3 class="accordion-title">Pricing</h3>
  <div class="accordion-content">
    <p>We currently charge a flat rate of CAD $70 / hour. However, we'll generally estimate how many hours is needed for your project, and quote you accordingly. The estimate will be categorized into various tasks (e.g. wireframe, design, development etc.). In the event that we exceed the estimate, you'll still only be charged for what we quoted.</p>
    <p>The initial meetings, project setup and estimate, is on us. It'll cost you $0. Only after we've delivered the first blueprints/mockups, will we send you an invoice of 10% of the total project cost. This will serve as a deposit (refundable) to show your commitment.</p>
    <p>High-end websites roughly takes between 100-160 hours. A standard marketing site is more in the 70-100 hour range. The hours mainly depends on how much custom coding is needed, and if there should be lots of animations and fancy stuff.</p>
  </div>
</div>

<div class="accordion-item accordion-item-warranty">
  <h3 class="accordion-title">Warranty / maintenance</h3>
  <div class="accordion-content">
    <p>If you decide to terminate the project, we'll refund you the full deposit minus the hours we've spent.</p>
    <p>A warranty of 3 months and basic maintenance (domain and hosting) of the site is complimentary.</p>
  </div>
</div>

<div class="accordion-item accordion-item-process">
  <h3 class="accordion-title">The process / workflow</h3>
  <div class="accordion-content">

    <div class="tab-content">
      <div class="tab-pane fade in active" id="1">
        <p>After you've explained your needs, vision, goals, we'll come up with a strategy (statement of work) which will include the estimate of hours. Often there'll be a few modifications before finalizing the contract.</p>
      </div>
      <div class="tab-pane fade" id="2">
        <p>Once you've given green light on the strategy, we'll go ahead and create various wireframes/mockups of which you can choose design/style direction. There'll usually be about 3 different options.</p>
      </div>
      <div class="tab-pane fade" id="3">
        <p>The choosen mockup will be made more detailed and thorough. Once you've approved on the final draft, we'll start to do the actual coding based on the mockups.</p>
      </div>
      <div class="tab-pane fade" id="4">
        <p>Following agile development, we'll show you parts of the site while it's being developed. This gives you more flexibility, and eliminates damage impact should there've been miscommunications.</p>
      </div>
      <div class="tab-pane fade" id="5">
        <p>The entire site will be thoroughly gone over by QA experts (Quality Assurance), to make sure there's no hidden bugs on any platform/device. </p>
      </div>
      <div class="tab-pane fade" id="6">
        <p>Once the site has passed QA, the site will be live on a Preview domain, only visible to you. Here we'll spend about 1-2 hours guiding you how to easily update the content.</p>
      </div>
      <div class="tab-pane fade" id="7">
        <p>On your command, we'll deploy the site to Production, which means it'll be live and visible to anyone. There's a warranty of 3 months, and basic maintenance (domain, and hosting) of the site is complimentary. <a href="#/contact">Work with us today.</a></p>
      </div>

    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#1" data-toggle="tab">1</a></li>
      <li><a href="#2" data-toggle="tab">2</a></li>
      <li><a href="#3" data-toggle="tab">3</a></li>
      <li><a href="#4" data-toggle="tab">4</a></li>
      <li><a href="#5" data-toggle="tab">5</a></li>
      <li><a href="#6" data-toggle="tab">6</a></li>
      <li><a href="#7" data-toggle="tab">7</a></li>
    </ul>
  </div>
</div>
