{% if include.side == "front" %}
  <h1>Manifesto #2: Your users are the primary focus. Intuitively guided, they should achieve their goal with least effort.</h1>
  <p>Web users are extremely impatient. Any redundant clicks, or effort using your site, distracts them from achieving their goal. Within seconds they may give up and already googled their way to your competitor.</p>
  <p>To keep the users' focus, only highly applicable information is presented. Measured using A/B tests, their experience, and focus, is continuously optimized.</p>
  <p>This leads to a higher Conversion Rate, which simply means: both your users, and yourself, get what you want - with most ease.</p>

{% else %}

  <h2>Summary</h2>

  <div class="row">
    <ul class="col-sm-6">
      <li>Intuitive interface is essential</li>
      <li>Minimalism increases users focus</li>
      <li>A/B tests measures success</li>
    </ul>
    <ul class="col-sm-6">
      <li>Conversion = a visitor who achieves his goal</li>
      <li>It's all about Conversion Rate (CR)</li>
      <li>Persuassion Architecture increases CR</li>
    </ul>
  </div>

{% endif %}